@charset "utf-8";


@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:300;
    src:local('Noto Sans Light'), local('NotoSans-Light'),
    url(../font/NotoSansKR-Light-Hestia.eot),
    url(../font/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../font/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../font/NotoSansKR-Regular-Hestia.eot),
    url(../font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../font/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../font/NotoSansKR-Medium-Hestia.eot),
    url(../font/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(../font/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../font/NotoSansKR-Bold-Hestia.eot),
    url(../font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../font/NotoSansKR-Bold-Hestia.otf) format('opentype');
}
@font-face {
    font-family: '3MCircular-bold';
    src: url('../../font/3MCircular-Bold.eot');
    src: url('../../font/3MCircular-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../font/3MCircular-Bold.woff') format('woff'),
         url('../../font/3MCircular-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '3MCircular-book';
    src: url('../../font/3MCircular-Book.eot');
    src: url('../../font/3MCircular-Book.eot?#iefix') format('embedded-opentype'),
         url('../../font/3MCircular-Book.woff') format('woff'),
         url('../../font/3MCircular-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* reset */
html,body{margin:0;padding:0;height:100%}
body{font:12px '3MCircular-book', sans-serif;;color:#555}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td,div,a{margin:0;padding:0;box-sizing:border-box;}
td,th{font:14px '3MCircular-book', sans-serif;color:#555;vertical-align:middle}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
table{width:100%;table-layout:fixed;border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
hr{position:absolute;left:-5000px ;top:0;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
img,fieldset{border:0}
img{vertical-align:middle;}
table img{vertical-align:middle;}
button{overflow:visible;margin:0;padding:0;border:0;background:none;font-size:0;line-height:0;font-size: 0px;letter-spacing:0px;word-spacing:0px;cursor:pointer;background:none;vertical-align:top;text-align:left;font:14px/22px '3MCircular-book', sans-serif;outline:none;}
input,textarea,select,label{font:12px '3MCircular-book', sans-serif;color:#555;vertical-align:middle;}
input{height:30px;line-height:30px;border:1px solid #e0e0e0;background-color:#fff;text-indent:10px;}
input:disabled,input:read-only{background-color:#f8f8f8;}
input:-moz-read-only{background-color:#f8f8f8;}
input[type=image]{width:auto;height:auto;border:0}
input[type=checkbox],input[type=radio]{width:16px;height:16px;border:0;background-color:#fff}
select{height:30px;line-height:30px;border:1px solid #e0e0e0;background-color:#fff;font-size:13px;color:#555}
textarea{width:100%;height:150px;border:none;resize:none}
address{font-style:normal}
a{color:#40444c;text-decoration:none;vertical-align:middle}
/*a:hover,a:focus{text-decoration:underline;}*/
legend,caption{visibility:hidden; overflow:hidden; width:0;height:0;font-size:0;line-height:0;padding:0;margin:0;}

.clear-fix:after {clear:both;content:"";display:block;}
#container {background-color:#f0f0f0;height:100%;overflow:hidden;}
#login_header {border-bottom:2px solid #ff0000;background-color:#fff;position:absolute;top:0;width:100%;}
#login_header .header_inner{width:100%;max-width:1180px;height:80px;margin:0 auto;padding-top:28px;}
#login_footer {position:absolute;width:100%;height:70px;background-color:#fefefe;text-align:center;bottom:0;padding-top:24px;}
#login_footer p {font-size:14px;color:#999;}
.login_wrap {width:100%;max-width:1180px;height:100%;display:table;background-color:#f0f0f0;margin:0 auto;}
.login_inner {display:table-cell;vertical-align:middle;text-align:center;}
.login_logo {font-size:0;text-indent:-9999px;}

.login {margin:0 auto;width:560px;border:1px solid #d0d0d0;border-radius:15px;overflow:hidden;}
.login > p {font-size:28px;margin-top:8px;}
.login h1 {padding:40px 0;}
.login_text {float:left;margin-right:9px;}
.login_box {padding:40px 40px 50px;background-color:#fff;position:relative;}
.login_text > input {display:block;height:50px;width:338px;line-height:50px;border:1px solid #e1e1e1;font-size:18px;}
.login_text input:first-child {margin-bottom:10px;}
.login_box .login_btn {float:left;width:130px;height:110px;color:#fff;font-size:18px;text-align:center;}
.login_info {font-size:0;margin-top:38px;}
.login_info a {display:inline-block;width:96px;margin:0 45px;font-size:15px;text-align:center;position: relative;}
.login_info a:before {position:absolute;top:11px;left:0;content:'';width:3px;height:3px;}
.login_info a.info_pw:before {left:-6px;}
.login_info span {position:absolute;font-size:15px;color:#d5d5d5;}

.login_story .login_info a {color:#f15a22;}
.login_story .login_info a:before {background-color:#f15a22;}
.login_story .login_box .login_btn {background-color:#212023;}

/* 체크박스 css */
.login_box .id_check {font-size:15px;margin-top:20px;position:absolute;bottom:40px;color:#555;}
.login_box .id_check input[type="checkbox"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);}
.login_box .id_check input[type="checkbox"] + label {display:inline-block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.login_box .id_check input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 21px;  /* 체크박스의 너비를 지정 */
    height: 21px;  /* 체크박스의 높이를 지정 */
    line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius : 3px;

}
.login_box .id_check input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #000;
  text-shadow: 1px 1px #fff;
  border-color: #adb8c0;
}
/* 체크박스 css End */

#wrap {width:1180px;min-height:640px;margin:0 auto;padding-top:100px;}
#wrap.on {position:relative;}
#wrap label {font-size:16px;padding:0 10px 0 4px;}

#header .header_top {height:80px;background-color:#fff;width:1180px;margin:0 auto;}
#header .header_top .top_logo {display:inline-block;margin-top:26px;}
#header .header_top .header_edit_pw {float:right;margin-top:20px;width:98px;height:34px;font-size:16px;color:#fff;background-color:#212023;line-height:34px;text-align:center;}
#header .gnb {background-color:#212023;position:relative;width:100%;min-width:1180px;}
#header .gnb .depth1 {width:1180px;background-color:#212023;margin:0 auto;border-bottom:2px solid #ff0000;}
#header .gnb .depth1>ul {width:100%;margin:0 auto;}
#header .gnb .depth1>li {width:11.11%;border-left:1px solid #3c3c3c;height:58px;float:left;text-align:center;line-height:57px;}
#header .gnb .depth1>li.on {border-bottom:2px solid #ff0000;}
#header .gnb .depth1>li:first-child {border-left:0;}
#header .gnb .depth1>li a {color:#ededed;font-size:16px;}
#header .gnb .depth1>li:hover {border-bottom:2px solid #ff0000;}
#header .gnb .depth2_wrap {width:100%;position:absolute;left:0;background-color:#f1f1f1;display:none;}/*bottom:-58px;*/
#header .gnb .depth1>li.on .depth2_wrap {display:block;z-index:4}
#header .gnb .depth1>li:hover .depth2_wrap {width:100%;display:block;z-index:5;}
#header .gnb .depth2 {width:1180px;margin-top:2px;text-align:left;margin:0 auto;}
#header .gnb .depth2 li {display:inline-block;margin-right:36px;z-index:6;}

#header .gnb .depth2 li a {color:#555;}
#header .gnb .depth2 li.on a {color:#ff0000;border-bottom:1px solid #ff0000;}

#wrap .div_checkbox {background-color:#f7f7f7;display:inline-block;padding:7px 12px 7px 30px;margin-left:20px;}
#wrap .div_checkbox label {margin-right:10px;}

.search_menu .title {font-size:24px;color:#3d3d3d;position:relative;display:inline-block;}

.contents {margin-top:52px;}
.contents .select_right {float:right;display:inline-block}
.contents .main_title {text-align:center;font-size:26px;padding-top:300px;}

.contents .title {font-size:24px;color:#3d3d3d;position:relative;display:inline-block;}
.contents .search {text-align:center;padding-top:30px;}

.table_wrap {position:relative;padding-top:20px;}
.table_wrap .exel_btn {position:absolute;right:0;top:-30px;height:25px;line-height:25px;background-color:#f4f4f4;border:1px solid #d2d2d2;padding:0 10px 0 25px;background-image:url("../img/btn_exel.jpg");background-repeat:no-repeat;background-position:6px 50%;margin-bottom:8px;display:inline-block;}
.table_wrap .exel_last_btn {top:10px;}

.admin_table {border-top:2px solid #000;}
.admin_table col {}
.admin_table th {background-color:#f7f7f7;border-bottom:1px solid #ddd;border-left-width:0;font-weight:500;padding-left:15px;text-align:left;height:58px;font-size:16px;}
.admin_table .th_title {background-color:#868686;color:#fff;}
.admin_table td {border-bottom:1px solid #ddd;padding-left:15px;height:58px;font-size:16px;}
.admin_table tr {height:40px;line-height:40px;}

.admin_table td.align_left {text-align:left;padding:0 10px;}
.admin_table .align_left_10 {text-align:left;padding:10px}
.admin_table .align_left_20 {text-align:left;padding:10px 20px;}
.admin_table .align_center {text-align:center;padding:0;}
.admin_table .align_center_5{width:50px; text-align: center;}
.admin_table .align_center_10{width:100px; text-align: center;}
.admin_table .align_center_20{width:150px; text-align: center;}
.admin_table .align_center_40{width:200px; text-align: center;}
.admin_table .align_center_50{width:300px; text-align: center;}



.align_left_wrap td {text-align:left;padding:0 20px;}
.align_left_wrap td:after {clear:both;content:"";display:block;}
.align_left_wrap td input {float:right;margin-top:4px;}
.admin_table col.row05 {width:5%;}
.admin_table col.row07 {width:7%;}
.admin_table col.row10 {width:10%;}
.admin_table col.row15 {width:15%;}
.admin_table col.row20 {width:20%;}

.pagenation {text-align:center;padding-top:20px;position:relative;height:51px;}
.pagenation .prev,.pagenation .next,.pagenation .lt_prev,.pagenation .gt_next {display:inline-block;width:30px;height:30px;background-color:#fff;border:1px solid #e3e3e3;background-image:url("../img/page_arrow.png");background-repeat:no-repeat;}

.pagenation .prev {background-position:50% -11px;}
.pagenation .next {background-position:50% -60px;}

.pagenation ul {display:inline-block;margin:0 10px;vertical-align:middle;}
.pagenation ul li {display:inline-block;position:relative;}
.pagenation ul li a {color:#b5b5b5;display:block;font-size:12px;padding:5px 8px;width:30px;height:30px;background-color:#fff;border:1px solid #e3e3e3;}

.pagenation ul li.on a {color:#fff;background-color:#212023;}
.pagenation .page_btn {width:95px;padding:6px 20px;color:#212023;border:1px solid #212023;background-color:#fff;font-size:12px;display:inline-block;}
.pagenation .page_btn2 {width:116px;padding:6px 20px;color:#212023;border:1px solid #212023;background-color:#fff;font-size:13px;display:inline-block;}
.pagenation .page_btn.exel {width:114px;background-color:#212023;color:#fff;}
.pagenation .page_btn.exel span {margin-left:10px;}
.pagenation .page_btn_del {padding:6px 20px;color:#fff;background-color:#8a8a8a;font-size:13px;display:inline-block;}
.pagenation .page_btn_wait {background-color:#f58220;}
.pagenation .page_btn_progress {background-color:#00a7e1;}

.pagenation .btn_right {right:0; bottom:0; position:absolute;}
.pagenation .btn_left {left:0;position:absolute;}

.btn_wrap {text-align:center;margin-top:10px;}
.iptype_01 {width:118px;margin-right:10px;}
.iptype_02 {width:305px;}
.iptype_03 {width:90px;margin-right:5px;}
.iptype_04 {width:96%;}
.iptype_05 {width:250px;margin-right:5px;}
.iptype_06 {width:250px;}
.iptype_07 {width:80px;}
.iptype_08 {width:120px;}
.iptype_09 {width:70%;}
.iptype_10 {width:29%;}

.write_wrap {padding:0 10px;}

.btntype_01 {height:30px;line-height:30px;display:inline-block;width:98px;background-color:#212023;color:#fff;text-align:center;}
.btntype_02 {height:28px;line-height:28px;display:inline-block;width:98px;background-color:#212023;color:#fff;text-align:center;}
.btntype_03 {height:28px;line-height:28px;display:inline-block;width:58px;background-color:#212023;color:#fff;text-align:center;}

.ui-datepicker-trigger {vertical-align:middle;height:15px;margin:0 5px;}


/*===========================*/
/* 카테고리 관리 */
#cateList .cate-list {float: left; margin:0 35px 10px 0}  
#cateList .cate-list div.cateDepth{font-weight:bold; font-size:15px; margin:0 0 5px 0}
#cateList .cate-list ul{height:270px; width:340px; overflow-y:scroll; padding:15px; border:1px solid #E3E3E3; }  
#cateList .cate-list li {padding:7px; /*border-top:1px dashed #E3E3E3; */}
#cateList .cate-list li:first-child {border:none;}
#cateList .cate-list li span {display:block; text-align:right; padding-top:10px;}
#cateList .cate-list li.active {background:#EAE5E9;}
#cateList .cate-list div.rsec{text-align:right; margin:5px 2px 0 0}

div.btnSec {position:relative; padding:20px 0 30px 0; text-align:center; overflow:hidden;}
div.btnSec:after {contnet:""; display:block; clear:both;}
div.btnSec div.lsec {float:left; padding-left:20px;}
div.btnSec div.rsec {float:right; padding-right:20px;}
div.btnSec div {*zoom:1;}
div.btnSec div:after {content:""; display:block; clear:both;}

div.boardView {}
div.boardView table {width:100%; border-top:2px solid #cccccc;}
div.boardView table tbody th {text-align:left; padding-left:10px !important; background-color:#efefef;}
div.boardView table tbody th.rb {border-right:1px solid #e8e8e8;}
div.boardView table tbody th input.chkBox {margin-top:65px;}
div.boardView table tbody th,
div.boardView table tbody td {border-bottom:1px solid #e8e8e8; padding:10px 5px 10px 5px; line-height:1.4em;}
div.boardView table tbody td.noData {text-align:center; padding:50px 0 50px 0;}
div.boardView table tbody td.con {padding:20px 10px 40px 10px; line-height:1.6em; border-bottom:0;}
div.boardView table tbody td.con div.media {padding-bottom:20px;}
div.boardView table tbody td.con2 {padding:20px 10px 20px 10px; line-height:1.6em;}
div.boardView table tbody td.img {padding:6px 3px 6px 3px;}
div.boardView table tbody td.noPadding {padding:0px;}
div.boardView table tbody td.noTable table {width:auto; border:none;}
div.boardView table tbody td.noTable table th,
div.boardView table tbody td.noTable table td {padding:5px; line-height:1.5em; border:none;}
div.boardView table tbody td.innerTable {border-bottom:0px ; padding:0px 0px 0px 0px; line-height:1.4em;}
div.boardView table tbody td.innerTable table{width:100%; border-top:0px;}

span.btn {display:inline-block; padding:0 3px 0 3px; *zoom:1;}
span.btn:after {content:""; display:block; clear:both;}
span.btn a {float:left; display:inline; padding:7px 15px 7px 15px; border:1px solid #363c4b; background:#464c5a; line-height:1.4em; color:#ffffff; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
span.btn2 {display:inline-block; padding:0 3px 0 3px; *zoom:1; vertical-align:middle;}
span.btn2:after {content:""; display:block; clear:both;}
span.btn2 a {float:left; display:inline; padding:3px 5px 3px 5px; border:1px solid #363c4b; background:#464c5a; line-height:1.4em; color:#ffffff; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
span.btn3 {display:inline-block; margin-left:10px; padding:0 3px 0 3px; *zoom:1; vertical-align:middle;}
span.btn3:after {content:""; display:block; clear:both;}
span.btn3 a {float:left; display:inline; padding:3px 5px 3px 5px; border:1px solid #363c4b; background:#464c5a; line-height:1.2em; color:#ffffff; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
span.btn4 {display:inline-block; margin-left:10px; padding:0 3px 0 3px; *zoom:1; vertical-align:middle;}
span.btn4:after {content:""; display:block; clear:both;}
span.btn4 a {float:left; display:inline; padding:3px 5px 3px 5px; border:1px solid #363c4b; background:#F2F2F2; line-height:1.2em; color:#000000; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
span.btn5 {display:inline-block; padding:0 3px 0 3px; *zoom:1;}
span.btn5:after {content:""; display:block; clear:both;}
span.btn5 a {float:left; display:inline; padding:7px 15px 7px 15px; border:1px solid #464c5a; background:#f4f4f4; line-height:1.4em; color:#000000; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
span.btn6 {display:inline-block; padding:0 3px 0 3px; *zoom:1;}
span.btn6:after {content:""; display:block; clear:both;}
span.btn6 a {float:left; display:inline; padding:10px 15px 10px 15px; border:1px solid #363c4b; background:#464c5a; line-height:1.4em; color:#ffffff; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
span.btn7 {display:block; padding:0;}
span.btn7 a {display:block; padding:7px 15px 7px 15px; border:1px solid #ccc; background:#F2F2F2; line-height:1.4em; color:#000; text-align:center; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
span.btn8 {display:inline-block; padding:0; width:48%; *zoom:1;}
span.btn8 a {display:block; padding:7px 0; border:1px solid #ccc; background:#F2F2F2; line-height:1.4em; color:#000; text-align:center; text-decoration:none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}







#footer {width:100%;height:70px;background-color:#fefefe;text-align:center;padding-top:24px;border-top:1px solid #e5e8ec;margin-top:60px;}
#footer p {font-size:14px;color:#999;}



/* 레이어 팝업 공통 */
.layerPop {background-color:#fff;}
.layerPop .layerConts {margin: 10px 10px 10px 10px; }
.layerPop .layerConts .ajaxConts {padding : 50px 0 20px 0;}  
.layerPop .btn-close {position:absolute; top:15px; right:15px;}

.layer-wrap{position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,0.3);}
.layer-pop{width: 550px;height: 200px;background-color: #ffffff;margin: 300px auto;}
.layer-pop .title03{text-align: center;font-size: 16px;padding: 10px 0;}
.layer-pop .board-write{margin-top:10px;}
.layer-pop .layer-btn01{margin-top: 10px;text-align: center;}
.layer-pop .btn-wrap {text-align:center;margin-top: 20px;}



/* epack 게시판*/
.flex-wrap-list{display: inline-block; padding: 10px 0;}
.flex-wrap-list li{width: 180px; display: inline-block; padding-top: 10px; float: left;}
.float-left{float: left; height: 145px;}
#wrap .flex-wrap-list li label{padding: 0 0 0 0; white-space: nowrap;}
.flex-wrap-list input[type=radio] {width: 15px;}

/*input file 추가 */
.addFileList li {margin-top: 10px;}
.addFileList li:first-child { margin-top: 0;}
.addFileList li>input{text-indent: 0;}

.btnAdd {margin-right: 6px;}
.jquery-filestyle label span { display: inline-block;width: 100px;height:30px;margin: 0 7px;line-height: 34px;text-align: center;color: #fff; background-color: black}
.circle-style-list{padding-left: 20px;}
.circle-style-list li{list-style: circle; padding-left: 20px;margin-top:10px;}
.circle-style-list li:last-child{margin-bottom: 10px;}
.circle-style-list li>a{vertical-align: top;}

/*모달창*/
.modal-wrap{position: fixed;top:0;display:flex;align-items:center;justify-content:center; margin: auto; z-index: 20;} 
.modal-wrap .modal{max-width:1000px; background-color: #ffffff; padding: 100px 100px;margin: 100px 100px; z-index:10;overflow: auto;height: 700px; position: relative;}
.modal-wrap .modal .modal-head{font-size: 24px; border-bottom: 1px solid black;position: relative;}
.modal-wrap .modal .modal-head .close{position: absolute; right: 0; top: 0;margin-bottom: 10px;}
.modal-wrap .modal .modal-head .close a img{vertical-align: top;}
.modal-wrap .modal .modal-body .search-bar{display:block; text-align: center;}
.modal-wrap .modal .modal-body .search-bar>form{display: inline-block;}
.modal-wrap .modal .modal-body .search-bar>.btntype_01 {margin-left: 10px;}
.modal-wrap .modal .modal-body{padding-top:20px;}
.modal-wrap .modal .modal-body .admin_table{text-align: left; overflow-x: scroll;}

.dimmer{position: fixed;top:0;bottom:0;left:0;right:0; background-color: rgba(0,0,0,0.3); z-index: 5;}

.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox .upload-name { display: inline-block; padding: .5em .75em; font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

.align-middle-btn{vertical-align: middle;}


.preview-img{
    float: right;
    width:150px;
    margin-right: 20px;
}
.preview-img img{
    width: 100%;
}

.custom-fom-box{
    width: 70%;
    height: 60px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin: 10px 0 ;
    padding:10px;
    overflow: hidden;
}