@charset "utf-8";

@font-face {
    font-family: 'notokr-bold';
    src: url('../../font/notokr-bold.eot');
    src: url('../../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-bold.woff2') format('woff2'),
         url('../../font/notokr-bold.woff') format('woff'),
         url('../../font/notokr-bold.ttf') format('truetype'),
         url('../../font/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-medium';
    src: url('../../font/notokr-medium.eot');
    src: url('../../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-medium.woff2') format('woff2'),
         url('../../font/notokr-medium.woff') format('woff'),
         url('../../font/notokr-medium.ttf') format('truetype'),
         url('../../font/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-regular';
    src: url('../../font/notokr-regular.eot');
    src: url('../../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-regular.woff2') format('woff2'),
         url('../../font/notokr-regular.woff') format('woff'),
         url('../../font/notokr-regular.ttf') format('truetype'),
         url('../../font/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-demilight';
    src: url('../../font/notokr-demilight.eot');
    src: url('../../font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-demilight.woff2') format('woff2'),
         url('../../font/notokr-demilight.woff') format('woff'),
         url('../../font/notokr-demilight.ttf') format('truetype'),
         url('../../font/notokr-demilight.svg#notokr-demilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '3MCircular-bold';
    src: url('../../font/3MCircular-Bold.eot');
    src: url('../../font/3MCircular-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../font/3MCircular-Bold.woff') format('woff'),
         url('../../font/3MCircular-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '3MCircular-book';
    src: url('../../font/3MCircular-Book.eot');
    src: url('../../font/3MCircular-Book.eot?#iefix') format('embedded-opentype'),
         url('../../font/3MCircular-Book.woff') format('woff'),
         url('../../font/3MCircular-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, address, ul, ol, li, dl, dt, dd, table, caption, th, td, form, fieldset, legend, hr, label, button {margin:0; padding:0; font-size:12px;}
body {font-family:'Malgun Gothic','맑은 고딕','3MCircular-book','notokr-regular', 'Malgun Gothic', dotum, gulim, verdana, sans-serif; font-weight:300; word-break:break-all;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-family:'3MCircular-bold','notokr-regular', dotum, gulim, verdana, sans-serif; font-weight:300;}
ul, ol, dl {list-style:none;}
table {width:100%; margin:0; padding:0; border-spacing:0; border:0; border-collapse:collapse; word-break:break-all;}
img, button, fieldset, abbr, acronym {border:0;}
address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal;}
strong {font-weight:normal;}
q:before, q:after {content:'';}
hr {display:none;}

legend {font-size:0; position:absolute; left:-5000px;}
caption {width:0; height:0 !important; line-height:0; overflow:hidden; visibility:hidden; font-size:0;}
input.bnone {border:0;}

select {height:34px; color:#272727; font-family:'notokr-regular'; font-size:16px; border:1px solid #e5e8ec; vertical-align:middle;}
input[type=text],
input[type=password],
textarea {vertical-align:middle; padding:0 10px; border:1px solid #e5e8ec; background-color:#fff; color:#272727; height:32px; font-family:'notokr-regular'; font-size:16px; line-height:32px;}
::-webkit-input-placeholder {color:#888;}
:-moz-placeholder {color:#888;}
::-moz-placeholder {color:#888;}
:-ms-input-placeholder {color:#888;}
textarea {overflow:auto; padding:10px; line-height:22px;}
input[type=checkbox] {width:13px; height:13px; margin:0 0 0 0; vertical-align:middle;}
input[type=radio] {width:13px; height:13px; margin-top:-1px; vertical-align:middle;}
button {font-family:'notokr-regular'; font-weight:300; cursor:pointer;}

a {color:#666;text-decoration:none;}
a:focus, a:hover, a:active {text-decoration:none;}

*::selection {background:#ff0000; color:#fff;}
*::-moz-selection {background:#ff0000; color:#fff;}

.invisible {text-indent:-5000px; position:absolute; left:-5000px; font-size:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden;}

/* comm */
.mgb40 {margin-bottom:40px !important;}
.mgb65 {margin-bottom:65px !important;}

/* skip navi */
#skipNavi {position:absolute; left:0; top:-200px; width:100%; margin:0 auto; z-index:20;}
#skipNavi:active,
#skipNavi:focus {position:absolute; top:0; width:100%; background:#f8f7f3; line-height:25px; text-align:center; border-bottom:1px solid #dbdbdb;}

/* ie8_sapari */
.ie8-sapari body,
.ie8-sapari h1,
.ie8-sapari h2,
.ie8-sapari h3,
.ie8-sapari h4,
.ie8-sapari h5,
.ie8-sapari h6,
.ie8-sapari select,
.ie8-sapari input[type=text],
.ie8-sapari input[type=password],
.ie8-sapari textarea {font-family:'Malgun Gothic', dotum, gulim, verdana, sans-serif; letter-spacing:-1px;}
/* MARGIN */
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.ml20{margin-left: 20px;}

/* WIDTH */
.wfull{width: 100%;}
.whalf{width: 50%;}

/* DISPLAY*/
.inblock{display:inline-block;}

/* FLOAT */
.clearfix{*zoom}
.clearfix:before, .clearfix:after{display: block; content:''; line-height:0;}
.clearfix:after{clear:both;}

.fl{float: left;}
.fr{float: right;}

/* FONT */
.txt-center{text-align: center;}

.bold{font-weight: bold;}

.fz30{font-size: 30px;}
