@charset "utf-8";

/* form */
.input-checkbox {position:relative; display:inline-block;}
.input-checkbox input[type=checkbox] {position:absolute; top:0; left:0; opacity:0; width:0; height:0;}
.input-checkbox label {display:inline-block; height:20px; line-height:20px; padding-left:30px; color:#272727; font-family: '3MCircular-book'; font-size:16px; background:url("../../images/common/form_checkbox01.png") no-repeat 0 0;}
.input-checkbox input[type=checkbox]:checked + label {background-position:0 -20px;}

/* title */
.title-box01 {position:relative; margin-bottom:25px; color:#272727;}
.title-box01 h3 {display:inline-block; font-family: '3MCircular-bold'; font-size:32px; line-height:32px; vertical-align:middle;}
.title-box01 h3 > a{ font-size: 32px; line-height: 1; color: #b5b5b5;margin-left: 20px;}
.title-box01 h3 > a > span {display: inline-block; position: relative; padding-left: 26px; line-height: 1;}
.title-box01 h3 > a > span:before{content: ''; display: inline-block;position: absolute; top: 6px; left: 0; height: 20px;border-left: 1px solid #000000;}
.title-box01 > p {display:inline-block; height:22px; line-height:22px; margin-left:15px; padding:9px 0 0 20px; font-size:18px; border-left:1px solid #b2b2b2; vertical-align:middle;}
.title-box01 > p strong {display:inline-block; color:#ff0000; font-family:'3MCircular-bold'; font-size:24px; vertical-align:-1px;}
.title-box01 > p strong span {display:inline-block; width:19px; height:19px; line-height:22px; color:#fff; font-size:14px; background:#ff0000; border-radius:50%; text-align:center; vertical-align:3px;}
.title-box01 > .btn01 {position:absolute; top:0; right:0;}
.title-box01 > .btn01 a {position:relative; display:inline-block; width:222px; height:33px; line-height:33px; padding-left:10px; color:#272727; font-family: '3MCircular-book'; font-size:16px; border:1px solid #e5e8ec;}
.title-box01 > .btn01 a:after {content:''; position:absolute; top:10px; right:10px; display:block; width:8px; height:13px; background:url("../../images/icon/ico_arrow04.png") no-repeat 0 0;}
.title-box01 > .btn01 a + a {margin-left:5px;}
.title-box01.type02 {margin-bottom:40px; padding-bottom:20px; border-bottom:1px solid #000000;}
.title-box01 .helpbutton {position:absolute; right:0; bottom:0; width:237px; height:47px; border:1px solid #000; color:#000; text-align:center; line-height:47px; font-size:16px;}
.title-box01 .helpbutton img {vertical-align:middle; margin-left:20px;}
.title-box02 {position:relative; margin-bottom:45px; padding:35px 28px; color:#212023; border:1px solid #e5e8ec; background:#f7f7f7; text-align:right;}

.title-box02 h3 {position:absolute; top:30px; left:29px; font-family: '3MCircular-bold'; font-size:32px; line-height:32px; vertical-align:middle;}
.title-box02 > p {color:#272727; font-size:18px; line-height:22px;}
.title-box02 > p strong {display:inline-block; color:#ff0000; font-family:'3MCircular-bold'; font-size:24px; vertical-align:-1px;}
.title-box02 > p strong span {display:inline-block; width:19px; height:19px; line-height:22px; color:#fff; font-size:14px; background:#ff0000; border-radius:50%; text-align:center; vertical-align:3px;}
.title-box02.l-text {text-align:left;}

.title-box03{margin: 0; border-bottom: 1px solid black; padding-bottom: 25px;}
.h4-title01 {margin-bottom:15px; color:#272727; font-family: '3MCircular-bold'; font-size:20px; line-height:24px;}
.h4-title01 .txt01 {display:inline-block; margin-left:15px; padding-left:15px; font-family: '3MCircular-book'; font-size:18px; line-height:24px; border-left:1px solid #d2d2d2;}
.h4-title01 .evt-info {display:inline-block; margin-left:15px; padding-left:15px; font-family: '3MCircular-book'; font-size:13px; line-height:18px; border-left:1px solid #d2d2d2; color:#f00;}


/* search-box */
.search-box {border-top:1px solid #000; padding:50px 0; text-align:center; background:#f7f7f7; border-bottom:1px solid #e5e8ec;}
.search-box > p {font-size:18px; margin-bottom:30px;}
.search-box > input {width:400px; height:35px; line-height:35px;}
.search-box > button {width:98px; height:36px; background:#212023; color:#fff; vertical-align:top; font-size: 16px; margin-left:6px;}

.right-align{text-align: right;}
.box-dental{display: inline-block; width: 550px; text-align: center; border: 1px solid #f7f7f7; margin-right: 12px; padding: 10px 0; background: #f7f7f7; font-size: 18px;}
.box-orthodontics{display: inline-block; width: 360px; text-align: center; padding: 10px 0; border: 1px solid #f7f7f7; margin-right: 42px; background: #f7f7f7; font-size: 18px;}
/* tab-box */
.tab-box {overflow:hidden;}
.tab-box li {float:left; width:16.66%; height:49px; text-align:center; box-sizing:border-box;}
.tab-box li:first-child a {border-left:1px solid #e5e8ec;}
.tab-box li:first-child a.on {border-left:1px solid #212023;}
.tab-box li a {display:block; font-size:16px; line-height:47px; border-top:1px solid #e5e8ec; border-right:1px solid #e5e8ec; border-bottom:1px solid #e5e8ec;}
.tab-box li a:hover,
.tab-box li a.on {color:#fff; background:#212023; border-color:#212023;}

.custom-title{border-bottom:1px solid #000; padding-bottom:50px;}
.tab-box02 {padding-top:30px }
.tab-box02 ul {margin:-7px 0 0 -7px; overflow:hidden;}
.tab-box02 ul li {float:left; width:141px; height:55px; line-height:55px; margin:7px 0 0 7px; }
.tab-box02 ul li a {display:block; font-size:18px; background:#bebebe; color:#fff; text-align:center;}
.tab-box02 ul li a:hover,
.tab-box02 ul li a.on {background:#212023}
.epack-box{display: flex;}
.epack-box ul li{width: 180px;}
.epack-box .all-btn{float:left;width:190px; height:240px; font-size:18px; background:#bebebe; text-align:center;}
.epack-box .all-btn a {line-height:240px;display: block; margin-right: 10px;width:190px; color:#ffffff;}
.epack-box .all-btn a:hover,
.epack-box .all-btn a.on {color:#fff; background:#212023;}
.epack-box .wrap-list{display:flex; flex-wrap: wrap;}
.epack-box .wrap-list.dental{width:575px; margin-left: 10px;}
.epack-box .wrap-list.orthodontics{width:380px;}

/* board-list */
.board-list01 {border-top:1px solid #000;}
.board-list01 table {width:100%; font-family: '3MCircular-book'; text-align:center;}
.board-list01 table th {padding:19px 0 17px 0; color:#272727; font-size:16px; line-height:20px; border-bottom:1px solid #e5e8ec; background:#f7f7f7;}
.board-list01 table td {padding:19px 0 17px 0; color:#666; font-size:16px; line-height:20px; border-bottom:1px solid #e5e8ec;}
.board-list01 table td.subject {padding-left:11px; color:#333; font-family: '3MCircular-book'; text-align:left;}
.board-list01 table td.subject strong {display:block; margin-bottom:8px; font-family: '3MCircular-bold';}
.board-list01 table td.btn,
.board-list01 table td.image {padding:0;}
.board-list01 table td.image img {max-width:115px;}
.board-list01 table td.price01 {color:#333; font-family:'3MCircular-book';}
.board-list01 table td.em {color:#ff0000;}
.board-list01 table td.cancle-line {text-decoration:line-through;}
.board-list01 table td.addr {padding-left:11px; color:#333; font-family: '3MCircular-book'; text-align:left;}
.board-list01 table .notice td {font-family: '3MCircular-bold';}
.board-list01 table td .date01 {font-size:16px;}
.board-list01 table td .date01 > span {display:inline-block; width:60px; height:25px; line-height:25px; margin-right:10px; color:#fff; font-family: '3MCircular-bold'; font-size:14px; text-align:center;}
.board-list01 table td .date01 .ing {background:#ff0000;}
.board-list01 table td .date01 .end {background:#a6a6a6;}
.board-list01 table td .in-num {width:43px; border-color:#ccc; text-align:center;}
.board-list01 table tfoot th {padding-left:11px; font-family: '3MCircular-bold'; text-align:left;}
.board-list01 table tfoot td {font-family: '3MCircular-bold'; background:#f7f7f7;}
.board-list01 table tfoot td.price01 {font-family: '3MCircular-bold';}
.board-list01 table tfoot td.price02 {color:#ff0000; font-size:18px;}
.board-list01.data-type01 table thead th {font-family: '3MCircular-bold'; font-size:20px; background:#eff4f0;}
.board-list01.data-type01 table tbody th {background:#f6f9f7;}
.board-list01.data-type01 table th,
.board-list01.data-type01 table td {color:#212023; font-size:18px; border:1px solid #e5e8ec;}

.board-list02 {border-top:1px solid #000;}
.board-list02 li {border-bottom:1px solid #e5e8ec;}
.board-list02 li a {position:relative; display:block; padding:15px 120px 15px 30px;}
.board-list02 li a strong,
.board-list02 li a span {display:block; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:22px;}
.board-list02 li a .tit {margin-bottom:10px; font-family: '3MCircular-bold'; font-size:18px;}
.board-list02 li a .date {position:absolute; top:18px; right:30px;}
.board-list02 li a .date span {display:inline-block;}
.board-list02 li a .date span + span {position:relative; margin-left:16px; padding-left:20px;}
.board-list02 li a .date span + span:after {content:''; position:absolute; top:3px; left:0; width:2px; height:16px; background:#e5e8ec;}
.board-list02 li a:hover,
.board-list02 li a:active {background-color:#f7f7f7;}
.board-list02.type02 li a {padding-right:220px;}
.board-list02.type02 li a .date {top:36px;}
.board-list02.type03 li a {min-height:96px; padding-left:310px; padding-right:210px;}
.board-list02.type03 li a .thum {position:absolute; top:15px; left:30px;}
.board-list02.type03 li a > .status-tag{display: inline-block;position:absolute; left: 225px; width: 70px; padding: 5px 0; text-align: center;color:#ffffff;}
.board-list02.type03 li a > .status-tag.in-progress{background-color: #ff0000;}
.board-list02.type03 li a > .status-tag.end{background-color: #999999;}
/* board-view01 */
.board-view01 {border-top:1px solid #000;}
.board-view01 .title {position:relative; height:58px; padding:0 0 0 30px; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:58px; border-bottom:1px solid #e5e8ec; background:#f7f7f7;}
.board-view01 .title .date {position:absolute; top:0; right:30px; height:58px; line-height:58px; font-size:16px;}
.board-view01 .title02 {position:relative; padding:18px 0 15px 30px; color:#272727; font-family: '3MCircular-bold'; font-size:16px; line-height:24px; border-bottom:1px solid #e5e8ec; background:#f7f7f7;}
.board-view01 .title02 .date {position:absolute; font-family: '3MCircular-book'; top:18px; right:30px; font-size:16px;}
.board-view01 .title02 .date span {display:inline-block;}
.board-view01 .title02 .date span + span {position:relative; margin-left:18px; padding-left:22px;}
.board-view01 .title02 .date span + span:after {content:''; display:block; position:absolute; top:5px; left:0; width:1px; height:14px; background:#d2d2d2;}
.board-view01 .title02 .term {display:block; margin-top:10px; font-family: '3MCircular-book'; font-size:16px;}
.board-view01 .con {padding:30px; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:34px; border-bottom:1px solid #e5e8ec;}
.board-view01 .con img {max-width:100%;}
.board-view01_no{width:100%; height:200px; background: #fff; border:2px solid #645dc7; position:relative; margin-top:100px; font-size:14px;}

.board-view02 {border-top:1px solid #000;}
.board-view02 table {width:100%; border:1px solid #e5e8ec;}
.board-view02 table th {padding:18px 0 15px 0; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:20px; border-top:1px solid #e5e8ec; background:#f7f7f7; text-align:center;}
.board-view02 table td {padding:12px 0 12px 18px; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:20px; border-top:1px solid #e5e8ec;}
.board-view02 table tr:first-child th,
.board-view02 table tr:first-child td {border-top:none;}
.board-view02 table td * {vertical-align:middle;}
.board-view02 table td .txt01 {color:#ff0000; font-family:'3MCircular-bold'; font-size:24px;}
.board-view02 table td .txt02 {color:#a0a0a0; margin-left:15px;}

/* board-write */
.tb-em01 {height:24px; line-height:24px; margin:-40px 0 15px 0; color:#272727; font-family: '3MCircular-book'; font-size:16px; text-align:right;}
.tb-em01 em {color:#ff0000; vertical-align:middle;}
.board-write {border-top:1px solid #000;}
.board-write table {width:100%; border:1px solid #e5e8ec; border-top:none;}
.board-write table th {padding:18px 0 15px 0; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:20px; border-top:1px solid #e5e8ec; background:#f7f7f7; text-align:center;}
.board-write table th label {font-size:16px;}
.board-write table td {padding:12px 0 12px 13px; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:20px; border-top:1px solid #e5e8ec;}
.board-write table tr:first-child th,
.board-write table tr:first-child td {border-top:none;}
.board-write table th em,
.board-write table th span {position:relative; padding-left:10px; font-size:16px;}
.board-write table th em:before {content:'*'; display:block; position:absolute; top:5px; left:0; color:#ff0000;}
.board-write table th + th {border-left:1px solid #e5e8ec;}
.board-write table td * {vertical-align:middle;}
.board-write table td input,
.board-write table td select,
.board-write table td textarea {font-family: '3MCircular-book';}
.board-write table td input + a,
.board-write table td input + span,
.board-write table td input + input {margin-left:5px;}
.board-write table td label + input {margin-left:35px;}
.board-write table td div + div {margin-top:12px;}
.board-write table td label {color:#272727; font-family: '3MCircular-bold'; font-size:16px; line-height:20px;}
.board-write table td .radio-list01 {overflow:hidden;}
.board-write table td .radio-list01 li {float:left; margin-left:35px; line-height:20px;}
.board-write table td .radio-list01 li:first-child {margin-left:0;}
.board-write table td .radio-list01 li label {color:#212023; font-family: '3MCircular-book'; font-size:16px;}
.board-write table td .txt01 {display:inline-block; color:#575757; font-family: '3MCircular-bold'; font-size:8px;}
.board-write table td .txt02 {display:inline-block; color:#a0a0a0; font-family: '3MCircular-book'; font-size:16px;}
.board-write table td .txt-point01 {color:#ff0000; font-family: '3MCircular-bold'; font-size:15px;}
.board-write table td .txt-point01 span {color:#333; font-family: '3MCircular-bold'; font-size:12px;}
.board-write table td .pro-check-list01 {margin-top:-10px; overflow:hidden;}
.board-write table td .pro-check-list01 li {float:left; width:25%; margin-top:10px;}
.board-write table td .pro-check-list01 li label {color:#555; font-family:'3MCircular-book', 'notokr-demilight'; font-size:12px;}
.board-write table td .file {position:relative; display:inline-block;}
.board-write table td .file input[type=file] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;}
.board-write table td.text {padding:18px 0 15px 22px;}
.board-write table.type02 th {background:#eff4f0;}

.privAgree {margin-top:20px;}
.privAgree .cont {border:1px solid #ddd; padding:15px; font-size:12px; color:#666;}
.privAgree .inputs {margin-top:10px;}
.privAgree .inputs input {margin-right:5px; vertical-align:middle;}
.privAgree .inputs label {margin-right:15px; vertical-align:middle; font-size:12px; color:#666;}

/* epack-table*/ 
.epack-table table tr{cursor: pointer;}
.epack-table table tr td{text-align: left; padding-left: 20px;}
.epack-table table tr td:last-child{text-align: center;}
.epack-table table tr td a{display: block;}

.table-list-type table tr td ul{list-style: circle; margin-left: 20px;}
.table-list-type table tr td ul li{font-size: 16px; padding-bottom: 10px;}
.table-list-type table tr td ul li:last-child{padding: none;}
.left-align-table table tr th,.left-align-table table tr td{text-align: left; padding-left:20px;}
/* paging */
.paging {position:relative; margin-top:25px; text-align:center;}
.paging * {vertical-align:middle;}

/* .paging p {display:inline-block;} */
/* .paging a, */
/* .paging strong {display:inline-block; height:20px; line-height:20px; margin:0 5px; color:#555; font-size:16px;} */
/* .paging strong {color:#272727; font-family: '3MCircular-bold';} */
/* Modified by Joo 2017.03.20*/
.paging>a{height:20px;display:inline-block;line-height:20px;margin:0 5px; color:#555; font-size:16px;}
.paging>ul{display:inline-block;}
.paging ul>li{display:inline-block;}
.paging ul>li>a{height:20px;display:inline-block;line-height:20px;margin:0 5px; color:#555; font-size:16px;}
.paging ul>li.on>a{color:#272727; font-family: '3MCircular-bold'; font-weight:600; line-height: 25px;}

.paging a.btn01 {position:absolute; top:0; right:0; height:48px; line-height:48px; padding:0 33px; color:#272727; font-family: '3MCircular-bold'; font-size:18px; border:1px solid #e5e8ec;}

/* btn-type */
.btn-type01 {margin-top:30px; text-align:right;}
.btn-type01 > a {display:inline-block; height:48px; line-height:48px; padding:0 33px; color:#272727; font-family: '3MCircular-bold'; font-size:18px; border:1px solid #e5e8ec;}
.btn-type01 > a + a {margin-left:5px;}
.btn-type01 > a.btn-modify {color:#fff; background-color:#212023;}
.btn-type01 > a.btn-more {padding:0 24px; font-size:20px;}
.btn-type01 > a.btn-more:after {content:''; display:inline-block; width:10px; height:17px; margin:-2px 0 0 10px; background:url("../../images/icon/ico_arrow06.png") no-repeat 0 0; vertical-align:middle;}
.btn-type02 {position:relative; min-height:50px; margin-top:30px; text-align:center;}
.btn-type02 .btn-complete {background:#ff0000;}
.btn-type02 a {display:inline-block; width:250px; height:50px; line-height:50px; color:#fff; font-family: '3MCircular-book'; font-size:18px; background:#212023;}
.btn-type02 a + a {margin-left:8px;}
.btn-type02 a.btn-next {position:relative;}
.btn-type02 a.btn-next:after {content:''; display:block; position:absolute; top:18px; right:14px; width:8px; height:13px; background:url("../../images/icon/ico_arrow02.png") no-repeat 0 0;}
.btn-type02 a.btn-buy01 {background:#ff0000;}
.btn-type02 a.btn-member-out {background: #fff; color:#272727; border:1px solid #e5e8ec; width:248px; height:48px; vertical-align: top;}
.btn-type02 a.btn-list {position:absolute; top:0; right:0; width:auto; height:48px; line-height:48px; padding:0 33px; color:#272727; font-family: '3MCircular-bold'; border:1px solid #e5e8ec; background:#fff;}
.left-btn-type{text-align: left;}

.btn-style01 {display:inline-block; height:34px; line-height:34px; padding:0 20px; color:#fff; font-family: '3MCircular-book'; font-size:16px; background:#212023;}
.btn-style02 {display:inline-block; height:32px; line-height:32px; padding:0 20px; color:#272727; font-family: '3MCircular-book'; font-size:16px; border:1px solid #ccc; background:#fff;}

/* movie-list */
.movie-list {padding:50px 0 30px 0; border-top:1px solid #000; border-bottom:1px solid #e5e8ec; overflow:hidden;}
.movie-list ul {margin:0 -10px; overflow:hidden;}
.movie-list ul li {float:left; width:518px; height:323px; margin:0 40px;}
.movie-list ul li a {position:relative; display:block;}
.movie-list ul li a span {display:block;}
.movie-list ul li a img {width:518px; height:274px;}
.movie-list ul li a .arrow {position:absolute; top:50%; left:50%; width:60px; height:60px; margin:-30px 0 0 -30px; background:url("../../images/btn/btn_play.png") no-repeat 0 0; transition:margin 0.5s ease;}
.movie-list ul li a .txt {position:absolute; bottom:0; left:0; right:0; padding:9px 0 7px 0; color:#fff; font-family: '3MCircular-book'; font-size:16px; line-height:24px; background:rgba(22,13,13,0.75); text-align:center;}
.movie-list ul li a .txt strong {font-family: '3MCircular-bold';}
.movie-list ul li a:hover .arrow {margin-top:-15px; transition:margin 0.5s ease;}
.movie-list ul li .title {padding:25px 0 10px 0; color:#212023; font-family: '3MCircular-bold'; font-size:18px; line-height:24px;}
.movie-list ul li .text {padding:0 0 22px 0; color:#212023; font-family: '3MCircular-book'; font-size:16px; line-height:24px;}
.movie-list ul li .date {color:#212023; font-family: '3MCircular-book'; font-size:16px; line-height:24px;}
.movie-list ul li .date span {display:inline-block;}
.movie-list ul li .date span + span {position:relative; margin-left:18px; padding-left:22px;}
.movie-list ul li .date span + span:after {content:''; display:block; position:absolute; top:5px; left:0; width:1px; height:14px; background:#d2d2d2;}

/* occ-membership */
.occ-membership {padding:455px 0 0 0;}
.occ-membership .coment {position:absolute; top:157px; left:0; right:0; border-bottom:1px solid #e5e8ec; background:#f7f7f7;}
.occ-membership .coment > div {width:1180px; margin:0 auto; height:275px; padding-top:176px; background:url("../../images/occ/occ_coment_bg.jpg") no-repeat 0 0;}
.occ-membership .coment > div p {padding-left:40px; color:#212023;}
.occ-membership .coment > div .text01 {font-family:'3MCircular-bold'; font-size:40px; line-height:44px;}
.occ-membership .coment > div .text02 {margin:5px 0 20px 0; font-family: '3MCircular-bold'; font-size:24px; line-height:28px;}
.occ-membership .coment > div .text03 {font-family: '3MCircular-book'; font-size:18px; line-height:29px;}
.occ-membership .occ-title01 {margin-bottom:25px; color:#212023; font-family: '3MCircular-bold'; font-size:32px; line-height:36px;}
.occ-membership .occ-title01 .txt01 {display:block; margin-top:10px; color:#212023; font-family: '3MCircular-book'; font-size:16px; line-height:24px;}
.occ-membership .occ-list01 {margin-bottom:40px; border-top:1px solid #e5e8ec;}
.occ-membership .occ-list01 li {padding:30px 0; border-bottom:1px solid #e5e8ec; overflow:hidden;}
.occ-membership .occ-list01 li .text-con {float:left; width:507px;}
.occ-membership .occ-list01 li .text-con h4 {color:#212023; font-family: '3MCircular-bold'; font-size:24px; line-height:28px;}
.occ-membership .occ-list01 li .text-con dl {padding-top:10px; color:#212023;}
.occ-membership .occ-list01 li .text-con dl dt {margin-top:30px; font-family: '3MCircular-bold'; font-size:20px; line-height:24px;}
.occ-membership .occ-list01 li .text-con dl dd {margin-top:5px; font-family: '3MCircular-book'; font-size:16px; line-height:24px;}
.occ-membership .occ-list01 li .text-con dl dd p {color:#9a9a9a; font-family: '3MCircular-book'; font-size:16px;}
.occ-membership .occ-list01 li .image-con {float:left; width:673px;}
.occ-membership .occ-list01 li .image-con p {float:left; width:326px;}
.occ-membership .occ-list01 li .image-con p img {width:326px;}
.occ-membership .occ-list01 li .image-con p + p {float:right;}
.occ-membership .btn-type02 a {font-family: '3MCircular-bold';}
.occ-membership .btn-type02 a:after {content:''; display:inline-block; width:10px; height:17px; margin:-2px 0 0 5px; background:url("../../images/icon/ico_arrow05.png") no-repeat 0 0; vertical-align:middle;}

.occ-membership.type2019 .coment > div {height:227px; padding-top:224px;}
.occ-membership.type2019 .coment > div .text01 {line-height:37px; padding-right:690px; font-size:37px; color:#333; text-align:right; margin-bottom:5px;}
.occ-membership.type2019 .coment > div .text02 {line-height:27px; margin:0 690px 0 0; font-size:20px; color:#333; text-align:right; padding-bottom:29px; position:relative;}
.occ-membership.type2019 .coment > div .text02:after {content:''; display:block; position:absolute; bottom:12px; right:1px; width:35px; height:1px; background:#fff;}
.occ-membership.type2019 .coment > div .text03 {line-height:20px; padding-right:690px; font-size:14px; color:#fff; text-align:right;}
.occ-membership.type2019 .occ-title01 {font-size:35px;}
.occ-membership.type2019 .occ-title01 .txt01 {display:inline-block; font-size:15px; margin-left:5px;}
.occ-membership.type2019 .occ-list01 {border-top:3px solid #91a2c8; background:url("../../images/occ/occ_list_bg.jpg") no-repeat 100% 100%;}
.occ-membership.type2019 .occ-list01 li {padding:25px 0;}
.occ-membership.type2019 .occ-list01 li:last-child {border-bottom:3px solid #ba9958;}
.occ-membership.type2019 .occ-list01 li h4 {font-family: '3MCircular-bold'; font-size:24px; font-weight:600; color:#212123; margin-bottom:20px;}
.occ-membership.type2019 .occ-list01 li h4 .num {display:inline-block; width:24px; height:22px; border-radius:3px; background:#91a2c8; text-align:center; line-height:22px; color:#fff; font-size:16px; vertical-align:3px;}
.occ-membership.type2019 .occ-list01 li dl {float:left; width:50%; min-height:185px;}
.occ-membership.type2019 .occ-list01 li dl.con01 {background:url("../../images/occ/occ_list_img01.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con02 {background:url("../../images/occ/occ_list_img02.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con03 {background:url("../../images/occ/occ_list_img03.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con04 {background:url("../../images/occ/occ_list_img04.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con05 {background:url("../../images/occ/occ_list_img05.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con06 {background:url("../../images/occ/occ_list_img06.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con07 {background:url("../../images/occ/occ_list_img07.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con08 {background:url("../../images/occ/occ_list_img08.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dl.con09 {background:url("../../images/occ/occ_list_img09.jpg") no-repeat 0 0;}
.occ-membership.type2019 .occ-list01 li dt {color:#91a2c8; font-family: '3MCircular-bold'; font-size:20px; margin-bottom:10px; padding-left:280px;}
.occ-membership.type2019 .occ-list01 li dt:before {content:''; float:left; width:4px; height:4px; background:#91a2c8; margin:13px 0 0 -12px;}
.occ-membership.type2019 .occ-list01 li dd {font-size:17px; font-family: '3MCircular-book'; padding-left:280px;}
.occ-membership.type2019 .occ-list01 li dd .btn-info {display:block; margin-top:10px; position:static; width:268px; height:33px; border:1px solid #91a2c8; border-radius:5px; font-size:16px; line-height:31px; text-align:center; color:#91a2c8;}
.occ-membership.type2019 .occ-list01 li dd.subtxt {font-size:15px; margin-top:10px;}



.occ-membership .occ-list02{border-top: 3px solid #91a2c8;border-bottom: 3px solid #91a2c8;}
.occ-membership .occ-list02 .row{ border-bottom: 1px solid #e5e8ec;padding: 40px 0 50px;}
.occ-membership .occ-list02 .row:last-child{border-bottom:0;}
.occ-membership .occ-list02 .row > ul > .col h4 {color:#212023; font-family: '3MCircular-bold'; font-size:24px; line-height:28px;}
.occ-membership .occ-list02 .row > ul > .col h4 .num {display:inline-block; width:24px; height:22px; border-radius:3px; background:#91a2c8; text-align:center; line-height:22px; color:#fff; font-size:16px; vertical-align:3px;}
.occ-membership .occ-list02 .row > ul > .col{display: inline-block; width: calc(50% - 2px);}
.occ-membership .occ-list02 .row > ul > .col > .content { margin-top: 20px;}
.occ-membership .occ-list02 .row > ul > .col > .content > p{display:inline-block;width : calc(100% - 210px);padding:0 60px 0 40px;vertical-align: middle; word-break: keep-all; box-sizing: border-box; font-size: 17px;font-family: 'notokr-demilight';}
.occ-membership .occ-list02 .row > ul > .col > .content > p > .small-phrase{display:block;margin-top: 10px; font-size:15px;}
.occ-membership .occ-list02 .row > ul > .col > .content > .img-wrap{display:inline-block;width : 200px;}
.occ-membership .occ-list02 .row > ul > .col > .content > .img-wrap > img{width : calc(100% - 10px);vertical-align: middle;}


/* 제품정보 상단탭 */
/*.product-tab {position:absolute; left:0; right:0; width:100%; height:50px; background:#f1f1f1;}*/
.product-tab {position:absolute; left:0; right:0; width:100%; height:50px; background:#f1f1f1;margin-top:-50px;}
.product-tab ul {width:1180px; margin:0 auto;}
.product-tab ul li {float:left; width:12.5%;}
.product-tab ul li a {display:block; position:relative; font-size:16px; line-height:50px; text-align:center; color:#555;}
.product-tab ul li a:after {content:""; position:absolute; left:0; top:18px; width:1px; height:14px; background:#b2b2b2;}
.product-tab ul li a .line {position:absolute; right:0; top:18px; width:1px; height:14px; background:#b2b2b2;}
.product-tab ul li a:hover,
.product-tab ul li a.on {color:#212023; font-family: '3MCircular-bold';}

/* 제품정보 전체 */
.product-wrap {margin-top:50px;}
.product-total {overflow:hidden; margin:0 0 0 -72px;}
.product-box {width:345px; float:left; margin:0 0 0 72px;}
.product-box > div {margin-bottom:50px;}
.product-box > div h4 {background:#212023; height:60px; line-height:60px; color:#fff; font-size:20px; text-align:center;}
.product-box .list01  > li  a {display:block; border-right:1px solid #e5e8ec; border-left:1px solid #e5e8ec; border-bottom:1px solid #e5e8ec; padding-left:20px;}
.product-box .list01  > li > a {background:#f7f7f7; height:58px; line-height:58px; color:#212023; font-size: 18px;}
.product-box .list01  > li > ul > li >a {height:52px; line-height:52px; font-size:16px;}

/* 제품정보 목록 */
.product-list {position:relative; overflow:hidden;}
.productList-left {position:absolute; top:0; left:0; width:220px; background:#fff;}
.productList-left.fix {position:fixed; left:50%; margin-left:-590px;}
.productList-left ul li a {display:block; height:50px; line-height:50px; text-align:center; border-left:1px solid #e5e8ec; border-right:1px solid #e5e8ec; border-bottom:1px solid #e5e8ec; font-size:14px;}
.productList-left ul li:first-child a {border-top:1px solid #e5e8ec;}
.productList-left ul li a:hover,
.productList-left ul li a.on {background:#212023; color:#fff; border-left:1px solid #212023; border-right:1px solid #212023; border-bottom:1px solid #212023;}
.productList-left ul li:first-child a:hover,
.productList-left ul li:first-child a.on {border-top:1px solid #212023;}

.productList-right {float:right; width:930px;}
.productList-right > div h4 {height:50px; line-height:50px; color:#212023; font-family: '3MCircular-bold'; font-size:18px; border-top:1px solid #212023; border-bottom:1px solid #e5e8ec; background:#f7f7f7; text-align:center;}
.productList-right > div {padding-bottom:100px;}
.pro-list01 {margin:0 0 0 -22px; overflow:hidden;}
.pro-list01 li {float:left; width:295px; margin:30px 0 0 22px;}
.pro-list01 li a {position:relative; display:block; padding:20px 0 78px; border:1px solid #dcdcdc; background:#fff; text-align:center;}
.pro-list01 li a img {max-width:100%;}
.pro-list01 li a:hover,
.pro-list01 li a:active {border-color:#232323;}
.pro-list01 li a .text {position:absolute; bottom:30px; left:0; right:0;}
.pro-list01 li a .text strong,
.pro-list01 li a .text span {display:block; color:#555; font-family:'3MCircular-book'; line-height:24px; font-size:16px;}
.pro-list01 li a .text strong {font-size:20px;}
.pro-list01.pro-search {margin:0 0 0 0; padding:10px 0 30px 11px; border-top:1px solid #212023; border-bottom:1px solid #e5e8ec;}
.pro-list01.pro-search li {width:264px; margin:20px 0 0 19px;}
.pro-list01.pro-search li a {height:244px; padding:20px 50px 0;}
.pro-list01.pro-search li a .text {bottom:25px;}
.pro-list01.pro-search li a .text span {font-size:14px;}
.pro-list01.pro-search li a .text strong {font-size:18px;}

/* 제품정보 상세 */
.product-view {overflow:hidden;}
.productView-left {float:left; width:345px;}
.productView-left .pro-image {border:1px solid #e6e9ed; text-align:center;}
.productView-left .pro-image > div {position:relative; margin:0 auto; padding:14px; text-align:center;}
.productView-left .pro-image > div img {max-width:100%;}
.productView-left .pro-btn .btn-type02 {margin-top:10px;}
.productView-left .pro-btn .btn-type02 a {width:100%;}
.productView-left .pro-quick {margin-top:10px; border:1px solid #e5e8ec; overflow:hidden; padding-bottom:25px;}
.productView-left .pro-quick ul li {float:left; width:50%; text-align:center; padding-top:25px;}
.productView-left .pro-quick ul li a {display:block;}
.productView-left .pro-quick ul li a p.text {text-align: left; padding-left:10px; font-size:18px; color:#272727; font-family: '3MCircular-bold'; margin-bottom:10px;}
.productView-left .pro-quick ul li a p.image {position:relative;}
.productView-left .pro-quick ul li a p.image span {position:absolute; top:50%; left: 50%; margin-top:-16.5px; margin-left:-16px;}
.productView-left .pro-relation > h4 {font-size:20px; color:#272727; font-family: '3MCircular-bold'; margin:50px 0 20px;}
.productView-left .pro-relation ul {overflow:hidden; border:1px solid #e5e8ec; padding:20px 9px;}
.productView-left .pro-relation ul li {float:left; width:50%;}
.productView-left .pro-relation ul li a {position:relative; display:block; margin:0 5px; text-align:center;}
.productView-left .pro-relation ul li a:hover .image {border:1px solid #1f1f1f;}
.productView-left .pro-relation ul li a .image {padding:20px 0; border:1px solid #e5e8ec;}
.productView-left .pro-relation ul li a .image img {max-width:100%;}
.productView-left .pro-relation ul li a .text {font-family:'3MCircular-book'; font-size:11px; line-height:16px; text-align:left; margin-top:10px;}
.productView-left .pro-relation ul li a .text strong {display:block; color:#222;}
.productView-left .pro-relation ul li a .text span {color:#555;}

.productView-right {float:right; width:780px;}
.productView-right .pro-tit {font-size:30px; line-height:40px; text-align:center; font-family: '3MCircular-bold'; border-top:1px solid #e5e8ec; padding:50px 0 55px;}
.productView-right .pro-tit span {display:block; font-size:24px; font-family: '3MCircular-book';}
/* .productView-right .pro-subTit {height:75px; line-height:75px; background:#f7f7f7; border:1px solid #e5e8ec; text-align:center;} */
.productView-right .pro-subTit {min-height:45px; line-height:45px; background:#f7f7f7; border:1px solid #e5e8ec; text-align:center;padding-left:20px;padding-right:20px;}
.productView-right .pro-subTit p {font-size:18px; color:#575757;}
.productView-right .pro-detail img {max-width:100%;}
.productView-right .none-border{ border: none;}

/* login */
.login-box {width:570px; margin:0 auto; padding-top:11px;}
.login-box .login-input {position:relative; padding:0 0 40px 0; border-bottom:1px solid #e5e8ec;}
.login-box .login-input input {margin-top:14px; width:383px; height:43px; padding:0 15px;}
.login-box .login-input .btn {position:absolute; right:0; top:13px; display:block; width:125px; height:103px; line-height:103px; color:#fff; font-family: '3MCircular-book'; font-size:18px; background:#212023; text-align:center;}
.login-box .list {padding:20px 0 50px 0;}
.login-box .list li {margin-top:10px; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:34px;}
.login-box .list li * {vertical-align:middle;}
.login-box .list li a {margin-left:15px;}
.login-box .banner {background:url("../../images/login/login_banner_bg.jpg") no-repeat 0 0;}
.login-box .banner a {display:block; height:138px; padding:30px 0 0 38px;}
.login-box .banner a span {display:block; color:#272727;}
.login-box .banner a .txt01 {color:#272727; font-size:18px; line-height:22px;}
.login-box .banner a .txt02 {margin:5px 0 25px 0; font-family:'3MCircular-bold'; font-size:30px; line-height:34px;}
.login-box .banner a .txt03 {color:#929493; font-family: '3MCircular-bold'; font-size:16px; line-height:20px;}
.login-box .banner a .txt03:after {content:''; display:inline-block; width:7px; height:11px; margin-left:4px; background:url("../../images/icon/ico_arrow03.png") no-repeat 0 0; vertical-align:middle;}
.idpw-box {width:711px; margin:0 auto; padding-top:20px;}
.idpw-box .idpw-input {position:relative; padding:16px 0 30px 0; border-top:1px solid #7d828f; border-bottom:1px solid #e5e8ec;}
.idpw-box .idpw-input > div {margin-top:14px; font-size:0; line-height:0; overflow:hidden;}
.idpw-box .idpw-input > div label {float:left; width:83px; height:34px; line-height:34px; padding-left:10px; color:#272727; font-family: '3MCircular-book'; font-size:16px; text-align:center;}
.idpw-box .idpw-input > div label.two {letter-spacing:0.25em;}
.idpw-box .idpw-input > div p {float:left; width:410px;}
.idpw-box .idpw-input > div p input {width:376px; padding:0 15px;}
.idpw-box .idpw-input > div p select {width:100px;}
.idpw-box .idpw-input > div p input + input,
.idpw-box .idpw-input > div p select + input {margin-left:6px;}
.idpw-box .idpw-input .btn {position:absolute; top:30px; right:30px; display:block; width:150px; height:129px; line-height:129px; color:#fff; font-family: '3MCircular-book'; font-size:18px; background:#212023; text-align:center;}
.idpw-box .idpw-input + h4 {margin-top:45px;}
.idpw-box .text01 {margin-top:30px; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:34px;}
.idpw-box .text01 a {margin-left:15px; vertical-align:middle;}

/* join */
.join-main {height:935px; margin:-40px 0 -65px 0; background:url("../../images/join/join_main_bg.jpg") no-repeat 0 0; text-align:center;}
.join-main .text-box {height:269px; padding-top:48px;}
.join-main .text-box .text01 {margin:26px 0 20px 0; color:#212023; font-family: '3MCircular-bold'; font-size:24px; line-height:30px;}
.join-main .text-box .text02 {color:#212023; font-family: '3MCircular-book'; font-size:18px; line-height:26px;}
.join-main .join-box {width:666px; height:321px; margin:0 auto 29px; border:1px solid #ccc; background:#fff;}
.join-main .join-box ul {overflow:hidden;}
.join-main .join-box ul li {position:relative; float:left; width:332px; height:321px; border-left:1px dashed #ccc;}
.join-main .join-box ul li .coment {position:absolute; top:26px; left:0; right:0; color:#888; font-family: '3MCircular-bold'; font-size:18px; line-height:22px;}
.join-main .join-box ul li .ico {padding:87px 0 46px 0;}
.join-main .join-box ul li .btn a {display:inline-block; width:274px; height:75px; line-height:75px; color:#fff; font-family: '3MCircular-bold'; font-size:18px; background:#ff0000;}
.join-main .join-box ul li .btn a:after {content:''; display:inline-block; width:10px; height:17px; margin:0 0 0 5px; background:url("../../images/icon/ico_arrow05.png") no-repeat 0 0; vertical-align:middle;}
.join-main .join-box ul li:first-child {width:333px; border-left:none;}
.join-main .join-box ul li:first-child .btn a {background-color:#212023;}
.join-main .banner {display:block; width:619px; height:197px; margin:0 auto; padding:0 0 0 50px; background:url("../../images/join/join_main_banner_bg.jpg") no-repeat 0 0; text-align:left;}
.join-main .banner > span {display:block; color:#272727;}
.join-main .banner > .text01 {padding-top:43px; font-size:18px; line-height:22px;}
.join-main .banner > .text02 {margin:8px 0 25px 0; font-family:'3MCircular-bold'; font-size:30px; line-height:34px;}
.join-main .banner > .text03 {display:inline-block; padding-right:16px; color:#929493; font-family: '3MCircular-bold'; font-size:16px; line-height:20px; background:url("../../images/icon/ico_arrow03.png") no-repeat right center;}

.join-agreebox {}
.join-agreebox .total-area {padding:20px 0; border-top:1px solid #000; border-bottom:1px solid #e5e8ec; background:#f7f7f7; text-align:center;}
.join-agreebox .total-area .text {margin-bottom:35px; color:#272727; font-family: '3MCircular-book'; font-size:16px; line-height:20px;}
.join-agreebox > ul {}
.join-agreebox > ul li {margin-top:45px;}
.join-agreebox > ul li > p {margin-top:20px;}
.agree-box {height:248px; padding:25px; color:#696969; font-family: '3MCircular-book'; font-size:16px; line-height:38px; border:1px solid #e5e8ec; overflow-x:hidden; overflow-y:auto;}

.join-agreelist01 {padding:12px 0; border-top:1px solid #000; border-bottom:1px solid #e5e8ec; overflow:hidden;}
.join-agreelist01 li {float:left; width:33.3%;}
.join-agreelist01 li * {vertical-align:middle;}
.join-agreelist01 li p {margin:0 15px 0 30px;}
.join-agreelist01.line-two li {width:50%;}
.join-agreelist01 li.all-check {width:100%; margin:12px 0 -12px 0; padding:19px 0 19px 0; border-top:1px solid #e5e8ec; background:#f7f7f7;}

/* layer */
.layer-pop {position:fixed; top:50%; left:50%; padding:30px; background:#fff; z-index:21; box-shadow:0 0 5px 5px #555; display:none;}
.layer-pop .title01 {margin-bottom:5px; color:#212023; font-family: '3MCircular-bold'; font-size:18px; line-height:24px;}
.layer-pop .title02 {margin-bottom:30px; color:#212023; font-family: '3MCircular-bold'; font-size:20px; line-height:24px; text-align:center;}
.layer-pop .title03 {margin-bottom:15px; color:#272727; font-family: '3MCircular-bold'; font-size:32px; line-height:36px;}
.layer-pop .text01 {padding:0 0 25px; color:#212023; font-size:16px; line-height:28px; text-align:center;}
.layer-pop .text01 strong {font-family: '3MCircular-bold';}
.layer-pop .text02 {padding:25px 0; border:1px solid #e5e8ec; background:#f7f7f7; text-align:center;}
.layer-pop .text02 p {display:inline-block; color:#212023; font-size:16px; line-height:34px; text-align:left;}
.layer-pop .text03 {margin:-15px 0 20px 0; text-align:center;}
.layer-pop .text03 span {color:#ff0000; font-family: '3MCircular-bold'; font-size:14px; line-height:22px; text-decoration:underline;}
.layer-pop .in-write01 {text-align:center;}
.layer-pop .in-write01 input {width:76%; margin:0 auto; border:none; border-bottom:1px solid #212023; text-align:center;}
.layer-pop .layer-btn01 {margin-top:20px; overflow:hidden;}
.layer-pop .layer-btn01 a {display:block; height:48px; line-height:48px; margin:0 auto; color:#272727; font-family: '3MCircular-bold'; font-size:18px; border:1px solid #e5e8ec; text-align:center;}
.layer-pop .layer-btn01 > p {float:left; width:50%;}
.layer-pop .layer-btn01 > p a {margin:0 10px; letter-spacing:-1px;}
.layer-pop .layer-btn01 > p:first-child a {margin-left:0;}
.layer-pop .layer-btn01 > p + p a {margin-right:0;}
.layer-pop .layer-btn01 .btn-link {color:#fff; background:#212023; border-color:#212023;}
.layer-pop .layer-btn01 .btn-complete {color:#fff; background:#ff0000; border-color:#ff0000;}
.layer-pop .btn-close {position:absolute; top:13px; right:30px; display:block; width:26px; height:26px; background:url("../../images/btn/btn_layer_close.png") no-repeat 0 0; text-indent:-9999px; font-size:0; line-height:0;}


.hide-text {position:absolute; top:0; left:0; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden;}
.event-open-wrap .head {height:955px; background:url('../../asset/images/event/head.jpg') no-repeat 0 0;}
.section-quiz {padding:0 50px; background:url('../../asset/images/event/quiz.jpg') no-repeat 0 0;}
.quiz-start {position:relative; height:200px; padding-top:250px; text-align:center; background:url('../../asset/images/event/quiz_start.jpg') no-repeat 0 0;}
.quiz-aleady {height:135px; padding-top:315px; text-align:center; background:url('../../asset/images/event/quiz_aleady.jpg') no-repeat 0 0;}
.quiz-quest {position:relative; height:450px; background-color:#fff; font-family: '3MCircular-bold';}
.quiz-quest .now {position:absolute; top:0; left:50%; width:140px; height:79px; padding-top:20px; margin-left:-70px; font-size:30px; color:#fff; text-align:center; background:url('../../asset/images/event/quiz_now.jpg') no-repeat 0 0; letter-spacing:-.05em;}
.quiz-quest .q {padding:155px 20px 0; line-height:38px; font-size:35px; color:#000; text-align:center;}
.quiz-quest .q:before {content:'Q.'; font-size:45px; color:#da0000; font-family: '3MCircular-bold'; font-weight:800; margin-right:5px; }
.quiz-quest .btn_q_close {position:absolute; top:0; right:0;}
.quiz-quest .btns {position:absolute; top:285px; width:100%; text-align:center;} 
.quiz-quest .btns a {margin:0 2px;}
.quiz-result {position:relative; height:450px; background-color:#fff; font-family: '3MCircular-bold';}
.quiz-result .now {position:absolute; top:0; left:50%; width:140px; height:79px; padding-top:20px; margin-left:-70px; font-size:30px; color:#fff; text-align:center; background:url('../../asset/images/event/quiz_now.jpg') no-repeat 0 0; letter-spacing:-.05em;}
.quiz-result .q {padding:94px 90px 0 113px; font-size:35px; color:#000;}
.quiz-result .q:before {content:'Q.'; font-size:45px; color:#da0000; font-family: '3MCircular-bold'; font-weight:800; margin-right:5px;}
.quiz-result .answer {margin:20px 70px 0 70px; padding:11px 43px 22px; font-size:25px; color:#666; letter-spacing:-0.05em; background-color:#f9f9f9;}
.quiz-result .answer:before {content:'A.'; font-size:45px; color:#1e5dab; font-family: '3MCircular-bold'; font-weight:800; margin-right:5px; vertical-align:-5px;}
.quiz-result .right {color:#1e5dab; font-weight:400;}
.quiz-result .wrong {color:#da0000; font-weight:400;}
.quiz-result .btn_next {display:block; width:250px; margin:30px auto 0;}
.quiz-result .btn_q_close {position:absolute; top:0; right:0;}
.quiz-complete {text-align:center; height:450px; background:url('../../asset/images/event/quiz_complete.jpg') no-repeat 0 0; font-family: '3MCircular-bold';}
.quiz-complete .tit1 {padding:70px 0 0; font-size:40px; font-weight:600; text-align:center; line-height:1.1; color:#da0000; font-family: '3MCircular-bold';}
.quiz-complete .tit2 {padding:0 0 20px; font-size:40px; line-height:1.1; color:#000; text-align:center;}
.quiz-complete .reward {font-size:25px; color:#666; line-height:1.6; padding:0 0 40px;}
.quiz-complete .reward .col1 {color:#000; font-weight:400;}
.quiz-complete .reward .col2 {color:#da0000;}
.section-recmd {height:908px; background:url('../../asset/images/event/recmd.jpg') no-repeat 0 0;}
.section-inf {position:relative; height:357px; background:url('../../asset/images/event/inf.jpg') no-repeat 0 0;}
.btn-info {position:absolute; top:78px; right:50px;}


.section-cmt {padding:46px 0 0;}
.section-cmt .tit {margin:0 0 20px;}
.section-cmt form {padding:30px; margin-bottom:50px; background:#f9f9f9;}
.section-cmt .input-name {width:248px; height:58px; padding:0 25px; border:1px solid #d5d5d5; vertical-align:middle; font-size:20px;}
.section-cmt .input-dental {width:508px; height:58px; padding:0 25px; border:1px solid #d5d5d5; vertical-align:middle; font-size:20px;}
.section-cmt .input-submit {width:240px; height:60px; background:#333; color:#fff; border:0 none; font-size:20px; vertical-align:middle;}

.section-cmt .count {margin:0 0 10px; font-size:15px;}
.section-cmt .cmtlist {margin:0 0 50px;}
.section-cmt .cmtlist li {padding:25px 29px; border:1px solid #d5d5d5; border-bottom:0 none; font-family: '3MCircular-bold';}
.section-cmt .cmtlist li:last-child {border-bottom:1px solid #d5d5d5;}
.section-cmt .row1 {margin-bottom:10px;}
.section-cmt .name {font-size:16px; color:#000;}
.section-cmt .name:after {content:''; display:inline-block; width:1px; height:11px; background:#d5d5d5; margin:0 5px 0 9px;}
.section-cmt .date {color:#666; font-size:16px;}
.section-cmt .col1 {display:inline-block; color:#da0000; font-size:16px; margin-right:10px;}
.section-cmt .col2 {display:inline-block; color:#666; font-size:16px; margin-right:80px;}

.modal-wrap {display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.6); z-index:1000;}
.modal-wrap.show {display:block;}
.modal-wrap .modal-inner {position:absolute; top:560px; left:50%; margin-left:-375px;}
.modal-wrap .modal-head {position:relative; height:70px; background-color:#333; color:#fff; font-size:28px; line-height:70px; text-indent:30px; font-family: '3MCircular-bold';}
.modal-wrap .modal-body img {width:100%;}
.modal-wrap .modal-close {position:absolute; top:0; right:0; width:70px; text-indent:0;}
.modal-wrap .modal-close img {width:100%;}

.welcome-modal.modal-wrap .modal-inner {position:absolute; top:50px; margin:0 auto; transform: translateX(-50%);}
.welcome-modal.modal-wrap .modal-footer .btn{display: inline-block;}
.welcome-modal.modal-wrap .modal-footer .btn img{width: 100%;}
.welcome-modal.modal-wrap .modal-footer .btn:nth-of-type(1){width: 335px;}
.welcome-modal.modal-wrap .modal-footer .btn:nth-of-type(2){width: calc(100% - 335px);}









/* [S]210203: 메일 모달창 */
.modal-layer.pi-updated{
  position:fixed; 
  top:0; left:0; right:0; bottom:0; 
  width:100%; height:100%; 
  background:rgba(0, 0, 0, 0); 
  font-family: 'notokr-demilight';
  z-index:1000;
  display:none;
}
.modal-layer.pi-updated.open{
  display:block;
}
.modal-layer.pi-updated .modal-inner{
  width:320px;
  background:#fff;
  border-radius: 7px;
  
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  z-index: 10;
}
.modal-layer.pi-updated .modal-inner{}
.modal-layer.pi-updated .modal-inner .modal-tit{padding: 20px 30px 0 20px;}
.modal-layer.pi-updated .modal-inner .modal-tit img{width:45%;}
.modal-layer.pi-updated .modal-inner .modal-body{margin:50px 45px;}
.modal-layer.pi-updated .modal-inner .modal-body .mbody-tit p{font-size:14px; line-height:26px;}
.modal-layer.pi-updated .modal-inner .modal-body .mbody-tit p i{color:#212023;}
.modal-layer.pi-updated .modal-inner .modal-footer{}
.modal-layer.pi-updated .modal-inner .modal-footer .btn{width:50%; height: 50px; line-height:50px;background:#f92610;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn.none-again{border-radius: 0 0 0 7px;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn.btn-close{border-radius: 0 0 7px 0; border-left:1px solid rgba(255,225,255,0.5); box-sizing: border-box;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn a{display:block; color:#fff;}
.modal-layer.pi-updated .modal-inner .modal-footer .btn a:hover{font-weight:bold;}




/* [S]210203: 개인정보처리방침 탭메뉴 */
.go-top-btn{width:1180px; margin:0 auto; display:scroll; position:fixed; left:50%; bottom:10px; -webkit-transform:translateX(-50%); transform:translateX(-50%); z-index: 100;}
.go-top-btn a{position:absolute; right: 0; top:-55px;}
.go-top-btn img{width:50px;}

.privacy-policy p{font-size:16px; line-height:30px; font-family: 'notokr-demilight'; margin-top:10px; color:#666;}
.privacy-policy p.mt0{margin-top:0;}
.privacy-policy p.mt30{margin-top:30px;}
.privacy-policy p strong{display:inline-block; font-family: 'notokr-medium';}
.privacy-policy strong{display:block;; color:#1e1e1e;}
.privacy-policy strong.main-tit{font-size:30px; line-height: 50px}
.privacy-policy strong.tit{font-size:18px; line-height: 30px; font-weight:bold; margin-top:30px;}
.privacy-policy p a{color:#0033cc;}
.privacy-policy p a:hover{text-decoration: underline;}

.tab-cont-box{display:none;}
.tab-cont-box.item-active{display:block;}
    .tab-btn{overflow: hidden;}
    .tab-btn li{float: left; text-align: center; width:25%; line-height:50px;  margin-left:-1px;}
    .tab-btn li:first-child{margin-left:0;}
    .tab-btn li a{display:block; border:1px solid #ddd; box-sizing: border-box; font-size:14px;}
    .tab-btn li a:hover{font-weight:bold;}
    .tab-btn li a.active{border:none; font-weight:bold; border:1px solid #212023; background:#212023; color:#ddd;} 

    .tab-cont-box{}
    .tab-cont-box table{margin-top:20px;}
    .tab-cont-box table tr{}
    .tab-cont-box table.center tr td:first-child{text-align: center;}
    .tab-cont-box table.center.center tr td{text-align: center;}
    .tab-cont-box table tr td{border: 1px solid #e6e6e6; padding:15px 20px; font-size:14px;font-family: 'notokr-demilight';}
    .tab-cont-box table tr.bold td{border-top: 2px solid #212023; text-align: center; background:#fbfbfb;font-family: 'notokr-regular';}
    .tab-cont-box table tr td:first-child{border-left:none;}
    .tab-cont-box table tr td:last-child{border-right:none;}


/* @media (max-width:1200px){
  .privacy-policy{position:relative;}
.privacy-policy .go-top-btn{width:50px; position: fixed; right:50px; top:500px;}
} */




/* [S]210204: 유료회원중단 모달창 */
.modal-layer.refuse-join{
  position:fixed; 
  top:0; left:0; right:0; bottom:0; 
  width:100%; height:100%; 
  background:rgba(0, 0, 0, 0); 
  font-family: 'notokr-demilight';
  z-index:1000;
  display:none;
}
.modal-layer.refuse-join.open{
  display:block;
}
.modal-layer.refuse-join .modal-inner{
  width:320px;
  background:#fff;
  border-radius: 7px;
  
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  z-index: 10;
}
.modal-layer.refuse-join .modal-inner{}
.modal-layer.refuse-join .modal-inner .modal-tit{padding: 20px 30px 0 20px;}
.modal-layer.refuse-join .modal-inner .modal-tit img{width:45%;}

.modal-layer.refuse-join .modal-inner .modal-body{margin:50px 55px;}
.modal-layer.refuse-join .modal-inner .modal-body .mbody-tit p{font-size:14px; line-height:26px;}
.modal-layer.refuse-join .modal-inner .modal-body .mbody-tit p.img{width:80px; margin:0 auto;}
.modal-layer.refuse-join .modal-inner .modal-body .mbody-tit p.img img{width:100%;}
.modal-layer.refuse-join .modal-inner .modal-footer{}
.modal-layer.refuse-join .modal-inner .modal-footer .btn{width:100%; height: 50px; line-height:50px; background:#f92610;}
.modal-layer.refuse-join .modal-inner .modal-footer .btn.btn-close{border-radius: 0 0 7px 7px;}
.modal-layer.refuse-join .modal-inner .modal-footer .btn a{display:block; color:#fff;}
.modal-layer.refuse-join .modal-inner .modal-footer .btn a:hover{font-weight:bold;}




.modal-layer .layer-dim{
  width: 100%; 
  height: 100%; 
  background: #000; 
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}











    








/* 20200319 main renewal */
.main-sub-boxs {
  width: 1180px;
  margin: 30px auto 50px;
  color: #333333;
}
.main-sub-boxs h4{
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.main-sub-boxs .link-to-all-product > h4{    
	position: absolute;
    top: 32%;
}
.main-sub-boxs .plain-txt{
  font-size: 16px;
}
.main-sub-boxs h4 + .plain-txt {
  margin-top: 5px;
  position: absolute;
  top: 40%;
}
.main-sub-boxs .box-wrapper-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main-sub-boxs .border-box {
  display: inline-block;
  width: 580px;
  border: solid 1px #e5e8ec;
  box-sizing: border-box;
}
.main-sub-boxs .border-box.large{
  height: 340px;
}
.main-sub-boxs .border-box.small{
  height: 258px;
}
.main-sub-boxs .border-box.square{
  width: 285px;
}
.main-sub-boxs .border-box .random-product {
  width: 334px;
  height: 100%;
  background-color: #f8f8f8;
}
.main-sub-boxs .border-box .random-product .random-item{
  text-align: center;
}
.main-sub-boxs .border-box .random-product .random-item img{
  max-height: 200px;
}
.main-sub-boxs .border-box .random-product .random-item .product-name{
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
}
.main-sub-boxs .border-box.all-products {
  display: flex;
}
.main-sub-boxs .border-box.all-products > div{
  flex : 1 1 auto;
}
.main-sub-boxs .border-box.all-products > div.random-product{
  flex: 0 0 334px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-sub-boxs .border-box.all-products > div.link-to-all-product{
  flex: 1 1 0;
  position: relative;
  box-sizing: border-box;
  padding: 30px 35px;
}
.main-sub-boxs .border-box.all-products > div.link-to-all-product .main-btn-type-01{
  position: absolute;
  bottom: 30px;
  left: 35px;
  width: calc(100% - 70px);
}

.main-btn-type-01{
  display: inline-block;
  width: 100%;
  height: 37px;
  border: solid 1px #e5e8ec;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  color: #333333;
  text-align: center;
  box-sizing: border-box;
}
.main-sub-boxs .border-box.recent-seminar{
  padding: 25px 30px;
  box-sizing: border-box;
}
.main-sub-boxs .border-box.recent-seminar .recent-seminar-item{ 
  display: flex;
  margin-top: 13px;
  padding-top: 16px;
  border-top: solid 1px #e5e8ec;
  height: 230px;
}
.main-sub-boxs .border-box.recent-seminar .recent-seminar-item .seminar-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 30px 30px 0;
}
.main-sub-boxs .border-box.recent-seminar .recent-seminar-item .seminar-info .seminar-item-title{
  font-size: 20px;
  font-weight: 600;
}
.main-sub-boxs .border-box.recent-seminar .recent-seminar-item .seminar-info .seminar-content{
  flex: 1 1 auto;
  position: relative;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1.5;
}
.main-sub-boxs .border-box.recent-seminar .recent-seminar-item .seminar-info .seminar-content .main-btn-type-01{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 182px;
  
}

.main-sub-boxs .border-box.main-notice-slider{
  position: relative;
  margin-top: 20px;
  height: 60px;
  padding: 22px;
  display: flex;
}
.main-sub-boxs .border-box.main-notice-slider .slider-wrap{
  flex: 1 1 auto;
  margin-left: 30px;
}
.main-sub-boxs .border-box.main-notice-slider .slider-wrap .swiper-slide{
  display: flex;
  font-size: 14px;
  line-height: 1;
  color: #333333;
}
.main-sub-boxs .border-box.main-notice-slider .slider-wrap .swiper-slide > span{
  flex: 1 1 auto;
}
.main-sub-boxs .border-box.main-notice-slider .slider-wrap .swiper-slide > span.notice-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.main-sub-boxs .border-box.main-notice-slider .slider-wrap .swiper-slide > span.notice-date{
  flex: 0 0 20%;
  color: #bbbbbb;
}
.main-sub-boxs .border-box.main-notice-slider .notice-tag{
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  color: #ff0000;
}
.main-sub-boxs .border-box.main-notice-slider .nav-arrow-wrap{
  position: absolute;
  top: 14px;
  right: 20px;
  height: 32px;
  z-index: 1;
}
.main-sub-boxs .border-box.main-notice-slider .nav-arrow-wrap .nav-arrow{
  display: block;
  width: 21px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 16px;
  color: #999999;
}
.main-sub-boxs .border-box.main-notice-slider .nav-arrow-wrap .nav-arrow.nav-arrow-prev{
  background-image: url(../../images/main/notice_btn_up.png);
}
.main-sub-boxs .border-box.main-notice-slider .nav-arrow-wrap .nav-arrow.nav-arrow-next{
  background-image: url(../../images/main/notice_btn_down.png);
}
.main-sub-boxs .box-wrapper-row > div{
  flex: 0 0 580px;
}
.main-sub-boxs .box-wrapper-row > div:last-child{
  margin-left: 20px;
}
.main-sub-boxs .box-wrapper-row > div .event-banner{
  height: 178px;
}
.main-sub-boxs .box-wrapper-row .none-border-box{
  display: flex;
}
.main-sub-boxs .box-wrapper-row .none-border-box > div:first-child{
  flex: 0 0 282px;
  padding: 20px 30px 30px;
  text-align: center;
}
.main-sub-boxs .box-wrapper-row .none-border-box > div:first-child .dentist{
  display: flex;
  margin: 15px;
}
.main-sub-boxs .box-wrapper-row .none-border-box > div:first-child .dentist > span{
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 1;
}
.main-sub-boxs .box-wrapper-row .none-border-box > div:first-child .dentist > span:nth-of-type(1){
  border-right: 1px solid #999999;
}
.main-sub-boxs .box-wrapper-row .none-border-box > div:last-child{
  margin-left: 20px;
  flex: 0 0 277px;
}

.main-sub-boxs .box-wrapper-row .official-dentist img{
  margin-top: 10px;
}
.semina-title h3> a> span{
  padding-right:13px;
  padding-left:0;
}
.semina-title h3> a> span:before {
  display:none;
}
.semina-title h3> a> span:after{
  content: '';
  position: absolute;
  right:0;
  top:6px;
  height:20px;
  border-left:1px solid #b5b5b5;
}
.bold-title{
  font-size: 18px;
  font-weight: bold;
}
.sub-title-width{
  width:calc(100% - 15%);
}
.movie-box .movie-content-box{
  width: calc(100% - 25%);
  height:500px;
  margin:auto;
}
.movie-box .movie-content-box source,
.movie-box .movie-content-box iframe {
  width:100%;
  height: 100%;
}
.movie-box .movie-content-info{
  font-size: 14px;
}

.three-line-ellipsis{
  overflow: hidden;
  word-wrap:break-word;
  display: -webkit-box !important;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -ms-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis
}

video{
  width:100%;
}

.progress-wrap{
  position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.progress-wrap .progress img{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:10%;
}
#wrap{
  z-index: 1;
}