@charset "utf-8";

/* wrap */
#wrap {
	position:relative;
	min-width:1180px;
}

html.modal,
body.modal {
	overflow:hidden;
}

.dim {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:20;}

/* dHead */
#dHead {
	position:relative;
	min-width:1180px;
	height:156px;
	background:#fff;
	z-index:10;
}
#dHead .top-area {position:relative; width:1180px; height:97px; margin:0 auto;}
#dHead .top-area h1 {position:absolute; top:30px; left:2px;}
#dHead .top-search {position:relative; width:380px; margin:0 auto; padding-top:30px;}
#dHead .top-search input[type=text] {width:100%; height:35px; line-height:35px; border:1px solid #c4c4c4; box-sizing:border-box;}
#dHead .top-search .btn {position:absolute; top:31px; right:1px; display:block; padding:8px 11px;}
#dHead .top-utill {position:absolute; top:30px; right:0;}
#dHead .top-utill > ul {}
#dHead .top-utill > ul:after {content:''; display:block; clear:both;}
#dHead .top-utill > ul > li {float:left; height:37px; line-height:37px;}
#dHead .top-utill > ul > li > a,
#dHead .top-utill > ul > li > span {position:relative; display:block; margin:0 -1px 0 0; padding:0 12px; color:#737373; font-family:'notokr-demilight'; font-size:14px;}
#dHead .top-utill > ul > li > a:after,
#dHead .top-utill > ul > li > span:after {content:''; position:absolute; top:14px; left:0; display:block; width:1px; height:10px; background:#c5c5c5;}
#dHead .top-utill > ul > li > span em {color:#ff0000;}
#dHead .top-utill > ul > li img {margin-top:-2px; vertical-align:middle;}
#dHead .top-utill > ul > li:first-child > a {padding-left:0;}
#dHead .top-utill > ul > li:first-child > a:after {display:none;}
#dHead .top-utill > ul > li.user {position:relative; min-width:100px; text-align:right; z-index:2}
#dHead .top-utill > ul > li.user > a {border:1px solid transparent; border-bottom:none;}
#dHead .top-utill > ul > li.user > a strong {color:#212320;}
#dHead .top-utill > ul > li.user .user-layer {display:none; position:absolute; top:30px; right:-1px; left:0; padding:5px 0; border:1px solid #212023; border-top:none; background:#fff;}
#dHead .top-utill > ul > li.user .user-layer li a {display:block; padding-right:12px; color:#737373; font-family:'notokr-demilight'; font-size:13px; line-height:20px; text-align:right;}
#dHead .top-utill > ul > li.user.active > a {border-color:#212023; background:#fff;}
#dHead .top-utill > ul > li.user.active > a:after {display:none;}
#dHead .top-utill > ul > li.user.active .user-layer {display:block;}

/* gnbArea */
#gnbArea {
	position:relative;
	border-top:1px solid #212023; border-bottom:2px solid #ff0000;
	background:#212023;
}
#gnbArea.all {border-color:#212320;}
#gnbArea > div {width:1180px; margin:0 auto;}
#gnbArea > div:after {content:''; display:block; clear:both;}
#gnbArea > div > div {display:none;}
#gnbArea .gnb-bg {display:block; position:absolute; top:58px; left:0; right:0; height:0;/* height:301px;*/ background:#fff; border-bottom:1px solid #ff0000; opacity:0;}
#gnbArea .gnb-bg.all {height:372px; border-color:#212320;}

#gnbArea .all-product {float:left; width:220px; margin-bottom:-1px;}
#gnbArea .all-product > a {display:block; height:57px; line-height:58px; color:#fff; font-family:'notokr-demilight'; font-size:15px; border-left:1px solid #3c3c3c; border-right:1px solid #3c3c3c; text-align:center; transition:background 0.45s ease;}
#gnbArea .all-product > a:before {content:''; display:inline-block; width:24px; height:19px; margin:0 15px 0 0; background:url("/oralcare/front/images/common/top_total_menu.png") no-repeat 0 0; vertical-align:middle;}
#gnbArea .all-product > a.active {height:58px; color:#212320; border-color:#fff; background:#fff; transition:background 0.45s ease;}
#gnbArea .all-product > a.active:before {background-position:0 -19px;}

#gnbArea .all-menu {position:absolute; top:50px; left:50%; width:1175px; height:356px; margin:20px 0 0 -590px; border-left:1px solid #f4f4f4; border-right:1px solid #f4f4f4; overflow:hidden;}
#gnbArea .all-menu .best {float:left; width:218px; padding:35px 0 0 0; text-align:center;}
#gnbArea .all-menu .best h2 {color:#212320; font-family:'notokr-bold'; font-size:16px; line-height:20px;}
#gnbArea .all-menu .best h2 span {color:#ff2424;}
#gnbArea .all-menu .best a {display:block; color:#333; font-family:'notokr-demilight'; font-size:14px; line-height:18px;}
#gnbArea .all-menu .best a strong {display:block; font-family:'notokr-bold';}
#gnbArea .all-menu .list {position:relative; float:left; width:957px; text-align:center;}
#gnbArea .all-menu .list > li {float:left; width:190px; height:356px; border-left:1px solid #f4f4f4;}
#gnbArea .all-menu .list > li a {display:block; color:#333; font-size:14px;}
#gnbArea .all-menu .list > li > a {width:130px; height:31px; line-height:31px; margin:0 auto; font-family:'notokr-bold'; background:#f7f7f7;}
#gnbArea .all-menu .list > li ul a {height:21px; line-height:21px; padding:5px 0; font-family:'notokr-demilight'; line-height:21px;}
#gnbArea .all-menu .list > li ul a span {display:inline-block; padding:0 5px; border-bottom:1px solid transparent;}
#gnbArea .all-menu .list > li ul a:hover span,
#gnbArea .all-menu .list > li ul a.active span {color:#ff0000; border-bottom:1px solid #ffe0e0;}
#gnbArea .all-menu .list > li + li + li + li + li + li {position:absolute; top:211px; height:95px; left:0;}
/*#gnbArea .all-menu .list > li + li + li + li + li + li + li {left:382px;}*/
#gnbArea .all-menu .list > li + li + li + li + li + li + li {left:192px;}
#gnbArea .all-menu .list > li + li + li + li + li + li + li + li {left:573px;}

#gnbArea .servicemall {float:right; width:116px; margin-top:-1px; border-left:1px solid #3c3c3c; border-right:1px solid #3c3c3c;}
#gnbArea .servicemall a {display:block; height:58px; line-height:58px; color:#fff; font-family:'notokr-demilight'; font-size:15px; background:#ff0000; text-align:center;}

#gnbArea .gnb {float:left; width:759px; padding:0 0 0 81px;}
#gnbArea .gnb > li {position:relative; float:left; width:110px; padding-left:3px; background:url("/oralcare/front/images/common/gnb_dot01.gif") no-repeat 0 27px;}
#gnbArea .gnb > li > a {display:block; height:55px; line-height:55px; color:#ededed; font-family:'notokr-demilight'; font-size:16px; border-bottom:2px solid transparent; text-align:center;}
#gnbArea .gnb > li > div {display:none; position:absolute; top:57px; left:1px; padding:24px 0 0 0; z-index:2;}
#gnbArea .gnb > li > div ul {width:112px; height:252px; padding-top:5px; border-left:1px solid #f4f4f4; text-align:center;}
#gnbArea .gnb > li > div ul li {padding:4px 0; line-height:24px;}
#gnbArea .gnb > li > div ul li a {display:inline-block; color:#333; font-family:'notokr-demilight'; font-size:14px; line-height:24px; border-bottom:1px solid transparent;}
#gnbArea .gnb > li > div ul li a:hover,
#gnbArea .gnb > li > div ul li a.active {color:#ff0000; border-bottom:1px solid #ffe0e0;}
#gnbArea .gnb > li.active > a {border-color:#ff0000;}
#gnbArea .gnb > li:last-child {width: 160px;}

#gnbArea .top-event {position:absolute; top:58px; left:50%; width:272px; margin:47px 0 0 -590px;}
#gnbArea .top-event h2 {margin-bottom:15px; color:#212320; font-family:'notokr-bold'; font-size:16px; line-height:20px;}
#gnbArea .top-event h2 span {color:#ff2424;}
#gnbArea .top-event a {display:block;}
#gnbArea .top-event a img {max-width:272px;}
#gnbArea .top-event a span {display:block; margin-top:5px; color:#555; font-family:'notokr-demilight'; font-size:14px; line-height:22px;}

#gnbArea .top-rolling {position:absolute; top:58px; right:50%; width:202px; height:257px; margin:23px -594px 0 0; border-right:1px solid #f4f4f4;}
#gnbArea .top-rolling > a {position:absolute; top:174px; display:block; width:12px; height:23px; font-size:0; line-height:0; text-indent:-9999px; background-repeat:no-repeat; background-position:0 0;}
#gnbArea .top-rolling .btn-prev {left:10px; background-image:url("/oralcare/front/images/common/top_rolling_prev.png");}
#gnbArea .top-rolling .btn-next {right:10px; background-image:url("/oralcare/front/images/common/top_rolling_next.png");}
#gnbArea .top-rolling .control {position:absolute; top:239px; left:0; right:0; font-size:0; line-height:0; text-align:center;}
#gnbArea .top-rolling .control a {display:inline-block; width:8px; height:8px; margin:0 3px; font-size:0; line-height:0; text-indent:-9999px; background:#bebebe; border-radius:50%;}
#gnbArea .top-rolling .control a.active {background:#212023;}
#gnbArea .top-rolling .roll-list {width:150px; height:230px; margin:0 auto; overflow:hidden;}
#gnbArea .top-rolling .roll-list ul {overflow:hidden;}
#gnbArea .top-rolling .roll-list ul li {float:left; width:150px; text-align:center;}
#gnbArea .top-rolling .roll-list ul li a {display:block;}
#gnbArea .top-rolling .roll-list ul li a img {width:150px; height:150px;}
#gnbArea .top-rolling .roll-list ul li a span {display:block; padding:0 10px; word-break:keep-all;}
#gnbArea .top-rolling .roll-list ul li a .name {color:#333; font-family:'3MCircular-book'; font-size:14px; line-height:18px;}
#gnbArea .top-rolling .roll-list ul li a .price {margin-top:6px; color:#ff0000; font-family:'3MCircular-bold'; font-size:16px; line-height:20px;}

/* dBody */
#dBody {

}

/* container */
#container {
	width:1180px;
	margin:0 auto;
	padding:50px 0 65px 0;
}

/* dFoot */
#dFoot {
	background:#f7f7f7;
}
#dFoot .foot-sitemap {border-bottom:1px solid #e5e8ec;}
#dFoot .foot-sitemap > div {width:1180px; margin:0 auto; padding:35px 0 40px 0;}
#dFoot .foot-sitemap > div > ul {padding:0 0 0 5px; overflow:hidden;}
#dFoot .foot-sitemap > div > ul > li {float:left; width:190px;}
#dFoot .foot-sitemap > div > ul > li > a {color:#333; font-family:'notokr-regular'; font-size:16px; line-height:22px;}
#dFoot .foot-sitemap > div > ul > li > ul {padding:20px 0 0 0;}
#dFoot .foot-sitemap > div > ul > li > ul li a {color:#999; font-family:'notokr-demilight'; font-size:14px; line-height:29px;}
#dFoot .foot-sitemap > div > ul > li.type-product {width:235px; overflow:hidden;}
#dFoot .foot-sitemap > div > ul > li.type-product > a {float:left; width:100%;}
#dFoot .foot-sitemap > div > ul > li.type-product > ul {float:left; width:85px;}
#dFoot .foot-sitemap > div > ul > li.type-membership {width:170px;}
#dFoot .foot-info {}
#dFoot .foot-info > div {width:1180px; margin:0 auto; padding:20px 0 35px 0;}
#dFoot .foot-info > div .foot-utill {padding:0 0 35px 0; overflow:hidden;}
#dFoot .foot-info > div .foot-utill li {position:relative; float:left; margin-left:13px; padding-left:15px;}
#dFoot .foot-info > div .foot-utill li:after {content:''; position:absolute; top:9px; left:0; display:block; width:1px; height:1px; background:#3c3c3c; font-size:0; line-height:0;}
#dFoot .foot-info > div .foot-utill li a {color:#555; font-family:'notokr-demilight'; font-size:16px; line-height:20px;}
#dFoot .foot-info > div .foot-utill li a strong {font-family:'notokr-bold';}
#dFoot .foot-info > div .foot-utill li:first-child {margin-left:0; padding-left:3px;}
#dFoot .foot-info > div .foot-utill li:first-child:after {display:none;}
#dFoot .foot-info > div .foot-text01,
#dFoot .foot-info > div address,
#dFoot .foot-info > div .copy {color:#777; font-family:'notokr-demilight'; font-size:13px; line-height:25px;}
#dFoot .foot-info > div .foot-text01 span {margin-left:25px;}
#dFoot .foot-info > div .foot-text01 span:first-child {margin-left:0;}
#dFoot .foot-info > div .copy {color:#999;}
