<%@ page contentType="text/html; charset=EUC-KR" pageEncoding="EUC-KR"%>
<%@ include file="/WEB-INF/jsp/cms/cmmn/include/declare.jspf"%>
<%
  /**
  * @Class Name : list.jsp
  * @Description : 권한관리 > 사용ㅈㅏ 관리 > 목록화면
  * @Modification Information
  * 
  * @
  * @  수정일      수정자              수정내용
  * @ ---------   ---------   -------------------------------
  * @ 2016. 10. 14.   Min, Kim, Yoon           최초생성
  * 
  * @author Min, Kim, Yoon
  * @since 2016. 10. 14.
  * @version 1.0
  * @see
  */
%>
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%@ include file="/WEB-INF/jsp/cms/cmmn/include/header.jspf"%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../3m_occ_renewal/js/ad-custom.js"></script>
  <script type="text/javascript">
   function fileAdd() {
    var html = '<li><input type="file" />'
    html += '<button class="btnAdd btntype_01" onclick="fileAdd();return false;"><span class="ir"></span>추가</button>'
    $('.addFileList').append(html);
    $(":file").jfilestyle();
    
  }

  $(document).ready(function () {
    $(":file").jfilestyle();
  });
  </script>
	<link rel="stylesheet" type="text/css" href="./asset/css/admin.css" />
</head>

<body>
	<div id="header">
		<div class="header_wrap">
			<jsp:include page="/oralcare/cms/include/topmenu.do" />
		</div>
	</div>
  <div id="wrap">
    <div class="contents">
      <h1 class="title">게시물 상세 페이지</h1>
      <div class="table_wrap">
        <table class="admin_table">
          <colgroup>
            <col class="row10">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th>카테고리</th>
              <td>
                <input class="iptype_02" type="text" value="" readonly="readonly" onclick="openModal(event,'#sampleModal')">
              </td>
            </tr>
            <tr>
              <th>제품명 검색</th>
              <td>
                <input type="text" class="iptype_02" readonly="readonly" onclick="openModal(event,'#sampleModal')">
                <a href="#" class="btntype_01 align-middle-btn" onclick="openModal(event,'#sampleModal')">제품 찾기</a>
              </td>
            <tr>
              <th>파일 업로드</th>
              <td>
                <ul class="addFileList">
                  <li>
                    <input type="file" />
                    <button class="btnAdd btntype_01" onclick="fileAdd();return false;">
                      추가
                    </button>
                  </li>
                </ul>
              </td>
            <tr>
              <th>다운로드 파일(2개)</th>
              <td>
                <ul class="circle-style-list">
                  <li>[Brochure]Sof-Lex Diamond <a href="#">[삭제]</a></li>
                </ul>
            </tr>
            </tr>
          </tbody>
        </table>
        <div class="pagenation">
          <div class="btn_left ie-btn">
            <a href="javascript:void(0);" class="page_btn regist">목록</a>
          </div>
          <div class="page btn_right ie-btn">
            <a href="javascript:void(0);" class="page_btn regist">수정완료 </a>
            <a href="javascript:void(0);" class="page_btn regist">삭제</a>
          </div>
        </div>
      </div>
      <div class="modal-wrap" id="sampleModal" style="display: none;">
        <div class="dimmer"></div>
        <div class="modal">
          <div class="modal-head">
            제품명 검색
            <div class="close">
             <a href="#">
               <img src="../3m_occ_renewal/img/icon_close.png" alt="닫기" onclick="closeModal('#sampleModal')">
             </a>
            </div>
          </div>
          <div class="modal-body">
            <div class="search-bar">
              <form>
                <input type="text" class="iptype_02">
              </form>
              <a href="#" class="btntype_01">검색</a>
            </div>
            <div class="table_wrap">
              <table class="admin_table">
                <colgroup>
                  <col class="row25">
                  <col>
                  <col class="row10">
                </colgroup>
                <thead>
                  <th>카테고리</th>
                  <th>제품명</th>
                  <th>선택</th>
                </thead>
                <tbody>
                  <tr>
                    <td>All</td>
                    <td>-</td>
                    <td><a href="#">[선택]</a></td>
                  </tr>
                  <tr>
                    <td>Abrasive</td>
                    <td>Sof-LexDiamond</td>
                    <td><a href="#">[선택]</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
	<%@ include file="/WEB-INF/jsp/cms/cmmn/include/footer.jspf"%>
	<script type="text/javascript">
		$(function () {
			$("#searchStdt, #searchEndt").datepicker({
				showOn: "button",
				buttonImage: "${cmsAsset}img/date_img.jpg",
				buttonImageOnly: true
			});
		});
	</script>
</body>

</html>