<%@ page contentType="text/html; charset=EUC-KR" pageEncoding="EUC-KR"%>
<%@ include file="/WEB-INF/jsp/cms/cmmn/include/declare.jspf"%>
<%
  /**
  * @Class Name : list.jsp
  * @Description : 권한관리 > 사용ㅈㅏ 관리 > 목록화면
  * @Modification Information
  * 
  * @
  * @  수정일      수정자              수정내용
  * @ ---------   ---------   -------------------------------
  * @ 2016. 10. 14.   Min, Kim, Yoon           최초생성
  * 
  * @author Min, Kim, Yoon
  * @since 2016. 10. 14.
  * @version 1.0
  * @see
  */
%>
<!DOCTYPE html>
<html lang="ko">

<head>
	<%@ include file="/WEB-INF/jsp/cms/cmmn/include/header.jspf"%>

	<script type="text/javascript">
		// <![CDATA[
		function fnSearchForm() {

			var searchCondition = $('select[name=searchCondition]').val();
			var searchKeyword = $('input[name=searchKeywordTemp]').val();
			$('#searchKeyword').val($('#searchKeywordTemp').val());

			var stdt = $('#searchStDt').val();
			var endt = $('#searchEnDt').val();
			if (stdt != '' && endt != '') {
				if (stdt > endt) {
					alert('기간을 정확히 입력하세요.');
					return;
				}
			}
			/* if (searchKeyword.length == 0) {
					alert("검색하실 단어를 입력해주세요!");
		$('input[name=searchKeyword]').focus();
		return ;
			} */
			fnPaging(1);
		}

		function fnPageUnit(v) {
			$('#pageUnit').val(v);
			fnSearchForm();
		}

		function fnRadioView() {
			if ($('input:radio[name="searchApprMbrGubun"]:checked').val() != 'Y') {
				$('#divbox').find("input").prop("disabled", true);
			} else {
				$('#divbox').find("input").prop("disabled", false);
			}
		}
		$(document).ready(function () {

			$("input[name='searchStDt'], input[name='searchEnDt']").datepicker({
				showOn: "button",
				buttonImage: "${cmsAsset}img/date_img.jpg",
				buttonImageOnly: true
			});
			$("input[name='searchStDt'], input[name='searchEdDt']").css("margin-right", "4px");

			if (jQuery.fn.placeholder) {
				jQuery("input[placeholder], textarea[placeholder]").placeholder();
			}

			if ($('input:radio[name="searchApprMbrGubun"]:checked').val() != 'Y') {
				$('#divbox').find("input").prop("disabled", true);
			}


		});

		function fnViewA(_url, _seq) {
			var frm = document.searchForm;
			$("input[name='agentSeqno']").val(_seq);
			frm.action = _url;
			frm.method = "get";
			frm.submit();
		}

// ]]>
	</script>
	<link rel="stylesheet" type="text/css" href="./asset/css/admin.css" />
</head>

<body>
	<div id="header">
		<div class="header_wrap">
			<jsp:include page="/oralcare/cms/include/topmenu.do" />
		</div>
	</div>
	<div id="wrap">
		<form:form commandName="searchVO" name="searchForm" id="searchForm" method="get" action="./list.do">
			<form:hidden path="menuCd" />
			<form:hidden path="pageIndex" />
			<form:hidden path="pageUnit" />
			<form:hidden path="agentSeqno" value="" />
			<div class="search_menu">
				<div class="table_wrap">
					<table class="admin_table">
						<colgroup>
							<col class="row10">
							<col>
						</colgroup>
						<tbody>
							<tr>
								<th>구분</th>
								<td>
									<div class="float-left">
									<input type="radio" id="radio01" name="radio" checked="checked">
									<label for="radio01">전체</label>
									</div>
									<ul class="flex-wrap-list">
										<li>
											<input type="radio" id="Abrasive" name="radio">
											<label for="Abrasive">Abrasive</label>
										</li>
										<li>
											<input type="radio" id="cement" name="radio">
											<label for="cement">cement</label>
										</li>
										<li>
											<input type="radio" id="composite-resin" name="radio">
											<label for="composite-resin">composite resin</label>
										</li>
										<li>
											<input type="radio" id="curing-lingt" name="radio">
											<label for="curing-lingt">curing lingt</label>
										</li>
										<li>
											<input type="radio" id="impression" name="radio">
											<label for="impression">impression</label>
										</li>
									</ul>
										<ul class="flex-wrap-list">
									<li>
										<input type="radio" id="lava" name="radio">
										<label for="lava">Lava</label>
									</li>
									<li>
										<input type="radio" id="orthodontics" name="radio">
										<label for="orthodontics">Orthodontics</label>
									</li>
									<li>
										<input type="radio" id="pediatric-solution" name="radio">
										<label for="pediatric-solution">pediatric solution</label>
									</li>
									<li>
										<input type="radio" id="preventive" name="radio">
										<label for="preventive">preventive</label>
									</li>
									<li>
										<input type="radio" id="temporization" name="radio">
										<label for="temporization">temporization</label>
									</li>
								</ul>
								</td>
							</tr>
							<tr>
								<th>검색어</th>
								<td>
									<select class="iptype_07" id="unit" onchange="fnPageUnit(this.value);">
										<option value="">파일명</option>
										<option value="">제품명</option>
									</select>
									<input class="iptype_02" type="text" value="">
									<a href="#" class="btntype_01">검색</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="contents">
				<h1 class="title">가입자 관리자 N 명</h1>
				<div class="table_wrap">
					<table class="admin_table">
						<colgroup>
						<col class="row15">
						<col>
						<col class="row15"> 
						</colgroup>
						<tbody>
							<tr>
								<th class="align_center">카테고리</th>
								<th class="align_center">제품명</th>
								<th class="align_center">다운 로드 파일 수 </th>
							</tr>
							<tr>
								<td>All</td>
								<td>-</td>
								<td class="align_center">3</td>
							</tr>
							<tr>
								<td>Abrasive</td>
								<td>Sof-Lex Diamond</td>
								<td class="align_center">8</td>
							</tr>
						</tbody>
					</table>
					<div class="pagenation">
						<ul>
							<li class="on"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
						</ul>
						<a href="javascript:void(0);" class="page_btn regist btn_right">등록</a>
					</div>
				</div>
			</div>
	</div>

	<%@ include file="/WEB-INF/jsp/cms/cmmn/include/footer.jspf"%>
	<script type="text/javascript">
		$(function () {
			$("#searchStdt, #searchEndt").datepicker({
				showOn: "button",
				buttonImage: "${cmsAsset}img/date_img.jpg",
				buttonImageOnly: true
			});
		});
	</script>
</body>

</html>