<%@ page contentType="text/html; charset=EUC-KR" pageEncoding="EUC-KR"%>
<%@ include file="/WEB-INF/jsp/cms/cmmn/include/declare.jspf"%>
<%
  /**
  * @Class Name : list.jsp
  * @Description : 권한관리 > 사용ㅈㅏ 관리 > 목록화면
  * @Modification Information
  * 
  * @
  * @  수정일      수정자              수정내용
  * @ ---------   ---------   -------------------------------
  * @ 2016. 10. 14.   Min, Kim, Yoon           최초생성
  * 
  * @author Min, Kim, Yoon
  * @since 2016. 10. 14.
  * @version 1.0
  * @see
  */
%>
<!DOCTYPE html>
<html lang="ko">

<head>
	<%@ include file="/WEB-INF/jsp/cms/cmmn/include/header.jspf"%>

	<script type="text/javascript">
		// <![CDATA[
		function fnSearchForm() {

			var searchCondition = $('select[name=searchCondition]').val();
			var searchKeyword = $('input[name=searchKeywordTemp]').val();
			$('#searchKeyword').val($('#searchKeywordTemp').val());

			var stdt = $('#searchStDt').val();
			var endt = $('#searchEnDt').val();
			if (stdt != '' && endt != '') {
				if (stdt > endt) {
					alert('기간을 정확히 입력하세요.');
					return;
				}
			}
			/* if (searchKeyword.length == 0) {
					alert("검색하실 단어를 입력해주세요!");
		$('input[name=searchKeyword]').focus();
		return ;
			} */
			fnPaging(1);
		}

		function fnPageUnit(v) {
			$('#pageUnit').val(v);
			fnSearchForm();
		}

		function fnRadioView() {
			if ($('input:radio[name="searchApprMbrGubun"]:checked').val() != 'Y') {
				$('#divbox').find("input").prop("disabled", true);
			} else {
				$('#divbox').find("input").prop("disabled", false);
			}
		}
		$(document).ready(function () {

			$("input[name='searchStDt'], input[name='searchEnDt']").datepicker({
				showOn: "button",
				buttonImage: "${cmsAsset}img/date_img.jpg",
				buttonImageOnly: true
			});
			$("input[name='searchStDt'], input[name='searchEdDt']").css("margin-right", "4px");

			if (jQuery.fn.placeholder) {
				jQuery("input[placeholder], textarea[placeholder]").placeholder();
			}

			if ($('input:radio[name="searchApprMbrGubun"]:checked').val() != 'Y') {
				$('#divbox').find("input").prop("disabled", true);
			}


		});

		function fnViewA(_url, _seq) {
			var frm = document.searchForm;
			$("input[name='agentSeqno']").val(_seq);
			frm.action = _url;
			frm.method = "get";
			frm.submit();
		}
	</script>
	<link rel="stylesheet" type="text/css" href="./asset/css/admin.css" />
</head>

<body>
	<div id="header">
		<div class="header_wrap">
			<jsp:include page="/oralcare/cms/include/topmenu.do" />
		</div>
	</div>
  <div id="wrap">
    <div class="search_menu">
      <h1 class="title">권한 회원 등록</h1>
      <div class="table_wrap">
        <table class="admin_table">
          <colgroup>
            <col class="row15">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th>회원 이름 검색</th>
              <td>
                <input class="iptype_02" type="text" value="" placeholder="회원 이름을 검색하세요">
                <a href="#" class="btntype_01">검색</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="contents">
      <h1 class="title">검색결과</h1>
      <div class="table_wrap">
        <table class="admin_table">
          <colgroup>
            <col class="row07">
            <col>
            <col class="row5">
            <col class="row10">
          </colgroup>
          <tbody>
            <tr>
              <th class="align_center">등급</th>
              <th class="align_center">ID</th>
              <th class="align_center">이름</th>
              <th class="align_center">직종</th>
              <th class="align_center">병원명</th>
              <th class="align_center">등록</th>
            </tr>
            <tr>
              <td class="align_center">무료</td>
              <td class="align_center">arkbesdf</td>
              <td class="align_center">홍길동</td>
              <td class="align_center">일반치과</td>
              <td class="align_center">은혜부부치과</td>
              <td class="align_center"><a href="#">[권한등록]</a></td>
            </tr>
            <tr>
              <td class="align_center">유료(신규)</td>
              <td class="align_center">asdf</td>
              <td class="align_center">홍길동</td>
              <td class="align_center">일반치과</td>
              <td class="align_center">부암치과</td>
              <td class="align_center"><a href="#">[권한등록]</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
	<%@ include file="/WEB-INF/jsp/cms/cmmn/include/footer.jspf"%>
	<script type="text/javascript">
		$(function () {
			$("#searchStdt, #searchEndt").datepicker({
				showOn: "button",
				buttonImage: "${cmsAsset}img/date_img.jpg",
				buttonImageOnly: true
			});
		});
	</script>
</body>

</html>